[2015-03-14 02:49] GoogleCodeExporter opened #1 "Allow line separator to be configurable for OS independent formatting"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 5 Sep 2010 at 3:48

[2015-03-14 02:49] #1 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #2 "Phase should be process-sources instead of compile"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 5 Sep 2010 at 3:13

[2015-03-14 02:49] #2 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #3 "Allow the compiler version properties to override those in the config file"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 15 Sep 2010 at 8:54

[2015-03-14 02:49] #3 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #4 "Upload artifacts to Maven central repository"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 16 Sep 2010 at 3:39

[2015-03-14 02:49] #4 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #5 "Allow the configFile to be resolved from the classpath"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 23 Sep 2010 at 1:20

[2015-03-14 02:49] #5 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #6 "Fail when the configFile cannot be found, read, or parsed"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 23 Sep 2010 at 1:26

[2015-03-14 02:49] #6 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #7 "Add Maven site"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 23 Sep 2010 at 1:28

[2015-03-14 02:49] #7 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #8 "Cleanup use of digester to parse xml"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 23 Sep 2010 at 4:39

[2015-03-14 02:49] #8 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #9 "Source file multiline comments are reformatted on each run of the plugin"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 26 Sep 2010 at 4:42

[2015-03-14 02:49] #9 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #10 "[feature] Provide a way to exclude paths"
[code]

Original issue reported on code.google.com by `manuel.carrasco.m` on 11 Nov 2010 at 9:41

[2015-03-14 02:49] #10 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #11 "Checks for central updates for Eclipse artifacts"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 18 Jan 2011 at 3:42

[2015-03-14 02:49] #11 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #12 "project.build.sourceEncoding should be used"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 19 Jan 2011 at 10:03

[2015-03-14 02:49] #12 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #13 "Support using settings from maven-compiler-plugin"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 1 Mar 2011 at 8:24

[2015-03-14 02:49] #13 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #14 "Default to overriding the config file compiler versions"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 1 Mar 2011 at 8:25

[2015-03-14 02:49] GoogleCodeExporter opened #15 "build failure on missing src/main/java or src/test/java"
[code]

Original issue reported on code.google.com by `jeroen.d...@gmail.com` on 3 Mar 2011 at 7:38

[2015-03-14 02:49] #15 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #16 "Maven formatter plugin doesnt produce formatting as per the configuration"
[code]

Original issue reported on code.google.com by `amitverm...@gmail.com` on 1 Jul 2011 at 7:04

Attachments:
* [formatting-rules.xml](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-16/comment-0/formatting-rules.xml)

[2015-03-14 02:49] GoogleCodeExporter opened #17 "Format line with annotation in parameter"
[code]

Original issue reported on code.google.com by `jmori...@gmail.com` on 2 Dec 2011 at 4:48

Attachments:
* [dev_format_new[2].xml](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-17/comment-0/dev_format_new[2].xml)

[2015-03-14 02:49] GoogleCodeExporter opened #18 "[patch] Update to Eclipse 3.7.1 Service Release 1"
[code]

Original issue reported on code.google.com by `ben.a...@acegi.com.au` on 18 Dec 2011 at 5:19

[2015-03-14 02:49] #18 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #19 "Java files have status changed on every execution"
[code]

Original issue reported on code.google.com by `greghear...@gmail.com` on 7 Jun 2012 at 12:56

[2015-03-14 02:49] GoogleCodeExporter opened #20 "Anonymous classes keep indenting"
[code]

Original issue reported on code.google.com by `scannell...@gmail.com` on 12 Sep 2012 at 11:08

Attachments:
- [code-format.xml](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-20/comment-0/code-format.xml)

[2015-03-14 02:49] #20 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #21 "Support directories parameters alongside includes/excludes"
[code]

Original issue reported on code.google.com by `matt.blanchette@gmail.com` on 11 Oct 2012 at 1:52

[2015-03-14 02:49] #21 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #22 "Exception Formatting When add-jars Is Included"
[code]

Original issue reported on code.google.com by `hampton....@gmail.com` on 9 Nov 2012 at 8:27

Attachments:
- [output](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-22/comment-0/output)

[2015-03-14 02:49] #22 closed, assigned to nobody

[2015-03-14 02:49] GoogleCodeExporter opened #23 "Strip trailing whitespace"
[code]

Original issue reported on code.google.com by `sam.hend...@gmail.com` on 18 Dec 2012 at 8:22

[2015-03-14 02:49] GoogleCodeExporter opened #24 "formatter plugin skips files for no obvious reason."
[code]

Original issue reported on code.google.com by `da...@trumpetx.com` on 6 Feb 2013 at 8:44

Attachments:
- [example.txt](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-24/comment-0/example.txt)

[2015-03-14 02:49] #24 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #25 "Add an ability to skip the goal"
[code]

Original issue reported on code.google.com by `mavena...@gmail.com` on 6 Mar 2013 at 5:38

[2015-03-14 02:49] GoogleCodeExporter opened #26 "Can the plugin format the generated-sources"
[code]

Original issue reported on code.google.com by `sean.x...@gmail.com` on 7 Mar 2013 at 8:15

[2015-03-14 02:49] #26 closed, assigned to mblanchette

[2015-03-14 02:49] GoogleCodeExporter opened #27 "Enhancement request: XML Formatting"
[code]

Original issue reported on code.google.com by `ndeck...@gmail.com` on 27 Mar 2013 at 7:15

[2015-03-14 02:49] GoogleCodeExporter opened #28 "use_on_off_tags to true"
[code]

Original issue reported on code.google.com by `stefano....@gmail.com` on 24 Jun 2013 at 2:28

Attachments:
* [eclipse_formatter.xml](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-28/comment-0/eclipse_formatter.xml)

[2015-03-14 02:49] GoogleCodeExporter opened #29 "Support filtering out non-writable source files for Perforce compatibility."
[code]

Original issue reported on code.google.com by `minke.tr...@gmail.com` on 12 Sep 2013 at 5:04

[2015-03-14 02:49] GoogleCodeExporter opened #30 "Add ability to get the config file from a URL"
[code]

Original issue reported on code.google.com by `belingue...@gmail.com` on 1 Oct 2013 at 2:51

[2015-03-14 02:49] GoogleCodeExporter opened #31 "only space not working"
[code]

Original issue reported on code.google.com by `limhi....@gmail.com` on 30 Oct 2013 at 3:02

Attachments:
* [eclipse-formatter-config.xml](https://storage.googleapis.com/google-code-attachments/maven-java-formatter-plugin/issue-31/comment-0/eclipse-formatter-config.xml)

[2015-03-14 02:49] GoogleCodeExporter opened #32 "Enhanchement : Add a cleanup goal to launch Clean Up with a specific EclipseCleanUpRules in addition of format"
[code]

Original issue reported on code.google.com by `alexandr...@gmail.com` on 1 Jan 2014 at 12:56

[2015-03-14 02:49] GoogleCodeExporter opened #33 "plugin ignores line wrapping settings"
[code]

Original issue reported on code.google.com by `matthias.coy@gmail.com` on 14 Feb 2014 at 5:23

[2015-03-14 02:49] GoogleCodeExporter opened #34 "Update embedded Eclipse to 4.4 to allow for Java 8 sources."
[code]

Original issue reported on code.google.com by `thorbjo...@gmail.com` on 27 Jun 2014 at 9:24

[2015-03-14 02:49] GoogleCodeExporter opened #35 "Implement support for code formatting based on IntelliJ rules"
[code]

Original issue reported on code.google.com by `carlspr...@gmail.com` on 11 Jul 2014 at 11:34

[2015-03-14 02:49] GoogleCodeExporter opened #36 "Project to github"
[code]

Original issue reported on code.google.com by `hazen...@gmail.com` on 18 Sep 2014 at 3:01

[2015-04-11 23:16] hazendaz commented on #36
I'm going to have a pretty large pull request for this effort.  I had done this long enough ago that I had made all sorts of enhancements sense.  If you want this broken into separate pull requests just let me know.  I have rebased against your new master here in github and fixed any merge conflicts.  I also normalized the codebase which landing in one of the many commits I had.  There were a numb

[2015-04-11 23:17] hazendaz commented on #34
I will have a pull request coming for all of this shortly.

[2015-04-11 23:19] hazendaz commented on #31
I believe this is fixed in 0.5 version which will be getting a PR shortly.

[2015-04-12 01:18] hazendaz opened #38 "Change plugin artifactId to conform to maven standards"
Artifact Ids of the format maven-__-plugin are reserved for
plugins in the Group Id org.apache.maven.plugins
Please change your artifactId to the format __-maven-plugin
In the future this error will break the build.

[2015-05-08 02:51] mblanchette commented on #34
See merge in #37

[2015-05-08 02:51] #34 closed

[2015-05-08 02:51] mblanchette commented on #36
See merge in #37

[2015-05-08 02:51] #36 closed

[2015-05-08 02:52] mblanchette commented on #31
See merge in #37

[2015-05-08 02:52] #31 closed

[2015-05-08 15:42] ctubbsii commented on #28
This actually works, as far as I can tell.

[2015-05-08 15:45] ctubbsii commented on #30
The best way to do this is to ship the xml config file in a separate maven artifact, and add that as a dependency to the plugin when configuring the plugin. Having maven plugins randomly reach out to a URL is likely to not be a good idea. You never know what you're going to get.

[2015-05-08 15:51] ctubbsii commented on #33
I cannot reproduce. This seems to work fine for me.

[2015-05-09 04:38] #16 closed

[2015-05-10 13:14] hazendaz commented on #38
Fixed on commit abbd042

[2015-05-10 13:36] hazendaz commented on #17
This is likely no longer an issue.  I have plenty of annotations like this and have never seen this problem.  I started using version 0.4 and now the 0.5 that is targetted against 4.4.1 eclipse.  So I think this likely was an issue with eclipse formatting that has since been fixed.

[2015-05-10 13:38] hazendaz commented on #33
I cannot reproduce this either.  Works fine for me.  We use 120 character line endings.

[2015-05-10 13:44] hazendaz commented on #29
MKS is another version control that marks files read only.  Modern source control systems don't do this and personally I don't see any reason to skip.  I don't see any degration in performance as a result of attempting to write.  It just skips them anyways.  What I think would be a better enhancement would be to force these writable.  Eclipse does that via a prompt to user.  The biggest problem I'

[2015-05-10 13:47] hazendaz commented on #28
Based on some searching in google it would appear this tagging had issues early with eclipse but has since been fixed.  I don't use it myself but would assume as of Luna the issues are resolved.  If @ctubbsii has verified it is working as expected I would venture to say it probably is.

[2015-05-10 13:48] hazendaz commented on #27
This project solves XML formatting -> https://github.com/velo/maven-formatter-plugin.  I think we bring him into the fold so we get a one size fits all solution if he is willing.  He forked long ago from this project and it currently shows the fork from github so he may be willing to spin these back together.

[2015-05-10 13:50] hazendaz commented on #25
This can be closed.  the skip logic was added.  See message above regarding that.  I searched code and it is there.

[2015-05-10 13:51] hazendaz commented on #19
Is this something only seen on non windows systems?  I always run clean install and I've never seen this occur in windows.

[2015-05-10 13:53] hazendaz commented on #23
This is still present in Eclipse Mars as well.  What it appears is that Ecipse fixed the javadoc trailing space issue in source cleanup not formatting.  As such, since this project doesn't currently support source cleanup, we cannot easily fix this.

[2015-05-10 13:56] hazendaz commented on #14
I believe this is complete -> @Parameter(defaultValue = "1.5", property = "maven.compiler.source").  I believe that uses 1.5 unless the maven.compiler.source is set.  That means, even if user doesn't set it, it will use 1.5 as that is current maven default.  In 3.3.x, the default is 1.7 now I believe.

[2015-05-11 22:07] #33 closed

[2015-05-11 22:07] ctubbsii commented on #28
Cannot reproduce.

[2015-05-11 22:07] #28 closed

[2015-05-13 17:48] #38 closed

[2015-05-13 17:59] ctubbsii commented on #25
Before this is closed, I'd suggest we use a standard property naming convention for the user property, like `-Dformatter.skip=true` rather than the current `-DskipFormat=true`. This follows other plugins, which have `findbugs.skip`, `checkstyle.skip`, `rat.skip`, etc.

A quick modification is to add the options: `alias="skip", property="formatter.skip"` to the `@Parameter`.

Any thoughts or object

[2015-05-13 18:03] #14 closed

[2015-05-13 18:04] #17 closed

[2015-05-13 18:11] ctubbsii commented on #19
This is so old. Let's close it for now. If it re-occurs, we can address it later.

[2015-05-13 18:11] #19 closed

[2015-05-13 18:13] ctubbsii commented on #23
Since this issue cannot be fixed without supporting executing other Eclipse tasks, we should close this for now. Maybe Eclipse will eventually support proper trailing whitespace stripping in the future.

[2015-05-13 18:13] #23 closed

[2015-05-13 18:20] ctubbsii commented on #29
I'm inclined to think that it's generally a bad idea to skip over non-writable source files, because that's somewhat unusual, and I think it's a fringe case. I think we should close this because of how old the original comment is, but if somebody's willing to issue a pull request (the original reporter indicated a possible willingness), I can't see why it shouldn't be included.

[2015-05-13 18:20] #29 closed

[2015-05-13 18:23] #30 closed

[2015-05-13 18:24] ctubbsii commented on #32
Would this address some of the trailing whitespace problems described in #23 ?

[2015-05-13 23:37] hazendaz commented on #25
I'm good with that.  I've never personally used the formatter skip but can see why it's important and should be consistent to other maven plugins.

--- Original Message ---

From: "Christopher Tubbs" <notifications@github.com>
Sent: May 13, 2015 1:59 PM
To: "revelc/formatter-maven-plugin" <formatter-maven-plugin@noreply.github.com>
Cc: "Jeremy Landis" <jeremylandis@hotmail.com>
Subject: Re: [forma

[2015-05-13 23:39] hazendaz commented on #32
Yes cleanup action would fix trailing space.  Same applies on eclipse mars

--- Original Message ---

From: "Christopher Tubbs" <notifications@github.com>
Sent: May 13, 2015 2:24 PM
To: "revelc/formatter-maven-plugin" <formatter-maven-plugin@noreply.github.com>
Subject: Re: [formatter-maven-plugin] Enhanchement : Add a cleanup goal to launch Clean Up with a specific EclipseCleanUpRules in addition

[2015-05-14 04:30] hazendaz commented on #30
Agreed.  In fact, I have a side project called build-tools under https://github.com/hazendaz/build-tools that is in fact just this.  It is eclipse 4.4.1 revision of eclipse configuration for this project.

[2015-05-14 17:43] #25 closed

[2015-05-28 08:37] louisburton commented on #35
The inability to work out a set of eclipse formatting rules that are equivalent to what we use in IntelliJ basically prevents us from using this very handy plugin. IntelliJ can import eclipse code styles, but I'm not sure how accurate the translation is and the opposite direction is not supported.

[2015-06-01 01:56] hazendaz opened #44 "Let's cut the luna release"
I don't have much time to work on this currently.  Now that things have been rearranged and under new guidence, I don't know that we need to wait to cut the luna release.  I'd prefer to get this released so we have something solid there then move on to Mars.  If no issues and you have time, cut the release.  Or I can later this week.

[2015-06-02 00:34] velo commented on #44
FWIW, I just did a 1.6.0.RC1 on mars.... luna is on my fork since 1.4.0

[2015-06-02 11:32] hazendaz commented on #44
@velo let's try this.  I'd like to release this library as is for Luna track.  Then I'd like to start getting your changes which I believe will take a awhile.  In the meantime can you provide usage statistics on you repo from central on unique Ip addresses for last few months? By then i suspect some statistics here.  I'm curious how many people are following original and your repo plus what that w

[2015-06-05 01:41] hazendaz commented on #44
I have cut a release.  There were a couple of minor issues getting the site deployment right.  That said, the release was cut as 0.5.2.  Now we can focus on trying to merge the code bases with @velo

[2015-06-05 01:41] #44 closed

[2015-06-05 16:25] ctubbsii commented on #44
Out of curiosity, I also see 0.5 and 0.5.1. What's with those?

[2015-06-05 16:42] ctubbsii opened #51 "Add ability to organize imports"
Code formatting leaves the import ordering more or less arbitrary. Organizing these would be a big help.

[2015-06-05 19:35] hazendaz commented on #44
Site deploy failed and maven release doesn't remove scm tags on revert.  There are work arounds but I wanted to get it fixed.  So just pressed forwards.  In the end the builds all worked and sonatype had all three but at that point I felt it was just safer to drop the earlier ones.

--- Original Message ---

From: "Christopher Tubbs" <notifications@github.com>
Sent: June 5, 2015 12:25 PM
To: "reve

[2015-06-05 19:39] hazendaz commented on #44
I see issue tracking being used as a change log.  I saw that once before on another project.  Do you know if there is a way to tie into that for a site report so we can delete the manual change log?  I like the concept...

--- Original Message ---

From: "Christopher Tubbs" <notifications@github.com>
Sent: June 5, 2015 12:25 PM
To: "revelc/formatter-maven-plugin" <formatter-maven-plugin@noreply.gi

[2015-06-05 19:40] hazendaz commented on #44
Or maybe you were just assigning me on the PRs.  Hard to tell on my phone...

--- Original Message ---

From: "Jeremy Landis" <jeremylandis@hotmail.com>
Sent: June 5, 2015 3:39 PM
To: "revelc/formatter-maven-plugin" <reply@reply.github.com>, "revelc/formatter-maven-plugin" <formatter-maven-plugin@noreply.github.com>
Subject: Re: [formatter-maven-plugin] Let's cut the luna release (#44)

I see issu

[2015-06-05 23:29] ctubbsii commented on #44
I was mainly just playing around with the github features for bookkeeping on issues already completed (PRs included, since they are treated like issues). I'm sure there's a way to generate a report from them for the site. I'm not a fan of manual change logs at all. That's what git is for, after all. Github also has a release notes feature I haven't looked at yet.

[2015-07-29 08:14] velo commented on #27
FWIW, I only solved JS format....

XML, HTML, ?ML still pending!

[2015-08-03 01:03] hazendaz opened #59 "Format the project with the formatter"
One big thing that keeps jumping out at me is use of tabs exensively here.  In more modern coding styles that is adviced against.  However, that got me thinking, let's format ourselves with the formatter.  This just requires we use the prior version to do so.  Sort of chicken and egg but would be nice.

If need be, we can add excludes for our internal testing that needs incorrectly formatted class

[2015-08-03 01:36] velo commented on #59
+1

I think we should format all git history as well...  to prevent huge diffs caused only by format

[2015-08-03 21:29] ctubbsii commented on #59
Re: "I think we should format all git history as well"

Please don't rewrite the history with formatting changes. That would be... very anti-git, and would confuse any attempt to merge existing outstanding work.

A huge diff is perhaps a bit annoying, but it's much more friendly than the alternative.

[2015-08-04 01:55] velo commented on #59
The problem I see with the huge diff is that it kills history....

When you need/wanna understand why a change was introduced you wont get the information (at least not in a easy way)

[2015-08-04 17:32] ctubbsii commented on #59
Understood, but rewriting history is not the answer. A commit which only changes formatting, and introduces no other change, is preferable. It's unfortunate that in some cases, it may make history harder to understand, but the effect is localized, limited in scope and in time. I've used this formatter plugin to reformat other projects in a single commit, and it has rarely been disruptive to the po

[2015-08-04 22:10] velo commented on #59
I wonder, what is the rewriting history side-effect?

I ask cause I'm about to do it for the ninth time =D

[2015-08-04 23:07] ctubbsii commented on #59
The main problem is that you can't tell if a branch has already been merged, and it makes it difficult to merge cleanly back into a clone. It creates new history, which separates clones from each other, and makes it difficult to see their common ancestor (fork point). When merging, it can reintroduce the same commits, resulting in duplicates.

If you, and everybody who collaborates with you always

[2015-08-04 23:08] ctubbsii commented on #59
It's less important if you do it in your own clone/repos, but if you do it in a repository shared by or used by others, it is quite terrible.

[2015-08-05 01:04] hazendaz opened #61 "velo-merge -> jdk usage"
Since 0.2, master included ability to override what comes in the configuration files for jdk info.  Not sure if that was removed on velo branch or something we really need.  Opening this to just not the difference.

[2015-08-05 01:27] hazendaz opened #62 "mars formatting - Align fields in columns"
This option seems broken with mars.  It doesn't work as advertised within eclipse and broken with mars version of formatter as well.

Expectation...

[code]

What we are getting...

[code]

[2015-08-05 02:34] velo commented on #59
I see

[2015-08-05 02:57] velo commented on #61
Not sure what you mean?
is it this:
https://github.com/revelc/formatter-maven-plugin/blob/velo-merge/maven-plugin/src/main/java/net/revelc/code/formatter/FormatterMojo.java#L153

Can you point me out to a sample?

[2015-08-05 03:16] hazendaz commented on #61
Original code since version 0.2 allows use of jdk settings on maven as override to what is in the format file.  I'll grab a snippet of the code tomorrow.  I'm not sure it's even needed but wanted to note it.  I've never really messed with the configuration in that way.  Currently this branch just picks that up if it cannot find a configuration file.  That may be good enough but might matter if we

[2015-08-05 20:20] ctubbsii commented on #61
I use that feature, and would like to keep it, if we can.

[2015-08-05 21:07] velo commented on #61
we sure can.... I'm just not sure what is missing, can you point out the code o master for me?

[2015-08-05 21:08] velo commented on #59
what is our default code formatter?
https://github.com/revelc/formatter-maven-plugin/blob/master/src/test/resources/sample-config.xml ?

or something else?

[2015-08-06 17:52] ctubbsii commented on #61
One other suggestion: it could be helpful if you guys use the labels, milestones, and assignees, in GitHub to organize issues/pull requests so they can be searched/tracked later. This might be slightly more useful than topic prefixes in the title (e.g. "velo-merge ->"), in the case of labels, and better than trying to find the commits in the git history, in the case of milestones.

[2015-08-07 12:27] hazendaz commented on #61
Sounds good.  Thanks

Sent by Outlook for Android

On Thu, Aug 6, 2015 at 10:52 AM -0700, "Christopher Tubbs" <notifications@github.com> wrote:
One other suggestion: it could be helpful if you guys use the labels, milestones, and assignees, in GitHub to organize issues/pull requests so they can be searched/tracked later. This might be slightly more useful than topic prefixes in the title (e.g. "ve

[2015-08-07 23:01] velo opened #63 "After bdd925b20 plugin lost the ability to run using defaults"
By reverting bdd925b20  I can run the plugin w/o any eclipse config.xml

If none is found, it does fall back to eclipse default configuration, which is, a good maven CoC practice.

[2015-08-07 23:02] velo commented on #63
Fixed at:
https://github.com/revelc/formatter-maven-plugin/pull/64

[2015-08-07 23:15] velo commented on #59
Made a PR for it.

For start, is just eclipse vanilla formatter

Do you guys agree on that?

https://github.com/revelc/formatter-maven-plugin/pull/65

[2015-08-07 23:22] hazendaz commented on #63
That prior commit has a bug plus the entire point was to fix it so it reads resources like jars.  Pretty sure the javascript formatter is broke this way.  We should be able to do both...no settings plus all other options.

Sent by Outlook for Android

On Fri, Aug 7, 2015 at 4:02 PM -0700, "Marvin Froeder" <notifications@github.com> wrote:
Fixed at:
https://github.com/revelc/formatter-maven-plugin/

[2015-08-08 02:20] velo commented on #59
Also, made another PR regarding pom.xml format/order

https://github.com/revelc/formatter-maven-plugin/pull/66/files

[2015-09-07 01:56] #59 closed

[2015-09-07 01:56] velo commented on #59
Fixed

[2015-09-07 23:55] hazendaz opened #69 "Validate mode - should perform formatting"
Validate mode fails when formatting possible.  It should format the code as well as that makes it easier to know what to commit prior to submitting.

For reference, latest head will not build on my machine without changing validate to format.  This appears to be line endings issue.

[2015-09-07 23:57] hazendaz opened #70 "Build fails when running on my machine"
Possibly due to line endings issue I mentioned on enforced validate.  The build gets this far.

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running net.revelc.code.formatter.support.io.ResourceTest
Tests run: 13, Failures: 6, Errors: 0, Skipped: 0, Time elapsed: 0.026 sec <<< FAILURE! - in net.revelc.code.formatter.s
up

[2015-09-08 00:05] velo commented on #69
Validate is meant for CI server.... so it will tell you it is broken.

If you change to format, CI will always tell you the code is fine, even if all classes are single liners =/

[2015-09-08 00:07] hazendaz opened #71 "velo-merge branch"
This branch is now on master.  I'm going to remove it as merged.  Please advise if there is any reason to retain it.

[2015-09-08 00:08] velo commented on #71
+1
go for it

[2015-09-08 00:18] hazendaz commented on #69
maybe so but that prevents local builds.  It would make more sense I think to have local as format and change it in travis ci so it validates there.  Otherwise, how would I be expected to even run formatting locally?

[2015-09-08 00:26] hazendaz commented on #71
Branch deleted.  Closing issue.

[2015-09-08 00:26] #71 closed

[2015-09-08 00:29] hazendaz commented on #70
This must be windows related.  It's otherwise working on travis ci

[2015-09-08 00:33] hazendaz commented on #63
Branch revert now exists for this as the original velo-merge was removed as it is in master.  There were notes of merge conflicts so that will need rebased and looked at further.

[2015-09-08 00:35] hazendaz commented on #63
Marked as both a bug and enhancement given the changes were to retain original functionality before merge and it's a loss on the other end so it sort of fits both types.

[2015-09-08 00:38] hazendaz commented on #27
Found a viable solution for xml formatting.

https://github.com/benalexau/xml-formatter

[2015-09-09 06:27] velo commented on #70
Appvevoy is windows...
https://ci.appveyor.com/project/velo/formatter-maven-plugin/history

Last 2 builds are broken...

[2015-09-09 06:31] velo commented on #69
not really, if the format is correct it does build locally just fine....

if your local code is not formatted, you need either format on eclipse or use mvn formatter:format

[2015-09-09 06:31] velo commented on #63
agreed

[2015-09-09 10:55] hazendaz commented on #69
That's not the behavior I'm after.  Enforce that on travis.  Otherwise it's an unnecessary step fir developers.

Sent by Outlook for Android

On Tue, Sep 8, 2015 at 11:31 PM -0700, "Marvin Froeder" <notifications@github.com> wrote:
not really, if the format is correct it does build locally just fine....

if your local code is not formatted, you need either format on eclipse or use mvn formatter:fo

[2015-09-09 11:03] hazendaz commented on #70
Hmmmm.  Pull request I merged took forever on that part then showed green.  Didn't know what that tool was but glad to know about it and shows same issue.  I wonder though if it's setup only to show green on completion thus false assumption of it working.  At least a place to start looking.  Thanks for pointing this out.  I'll look a bit tonight.

Sent by Outlook for Android

On Tue, Sep 8, 2015 a

[2015-09-09 11:08] velo commented on #69
You could have a profile then

On Wed, 9 Sep 2015 22:55 Jeremy Landis <notifications@github.com> wrote:

[2015-10-28 03:57] danyaljj opened #79 "style checking?"
I am in need of this behavior:
1.  format checking done the compile time
2.  code formatting upon `formatter:format`

No 2 is done by this plugin.
How about No 1?  Is it possible to do format-checking with this plugin?

If not, is it possible to use https://maven.apache.org/plugins/maven-checkstyle-plugin/ to do it?
The important issue is that the styles for the format-checker and code-formatter n

[2015-10-28 06:33] velo commented on #79
howdy @danyaljj we do have a goal to do so, but it is not released yet.

We do that on this project build using the old release candidate
https://github.com/revelc/formatter-maven-plugin/blob/master/pom.xml#L391

@ctubbsii @mblanchette  @hazendaz ain't time for a release?

[2015-10-28 10:41] hazendaz commented on #79
I feel there are still issues to be addressed before a release.  For one code won't build for windows user....ie myself and old functionality is missing to use jar with rules.  If both those are restored to working then yes it would be ready.  I've been too busy to get a deeper look as 0.5.2 release suits my needs currently.

Sent by Outlook for Android

On Tue, Oct 27, 2015 at 11:33 PM -0700, "Ma

[2015-10-28 11:05] hazendaz commented on #79
Another thing while thinking about it.  The new version no longer formats during development.  Last we talked you said do it in eclipse first.  That isn't how this plugin is used.  Its ide independent.  We use it in stand alone coding, netbeans, and intellij.  Line endings which I saw someone else trying to also fixed needs resolved.  Most people check out auto which means windows line endings in

[2015-10-29 04:47] hazendaz commented on #70
Fixed on my machine by using system line endings.  This presumably will work on both travis and app voyer.  I'm pushing up shortly once my full build finishes.

[2015-10-29 04:56] hazendaz commented on #69
This thread.  I stand behind my points.  This is why forcing at machine level makes no sense.  You are suggesting using the IDE.  All I did tonight, I didn't even have an IDE open.  I did all changes using notepad.  So formatting via eclipse was out of the question.  Anyway, this is fixed on PR #80

[2015-10-29 04:56] #69 closed

[2015-10-29 04:59] hazendaz commented on #79
My concerns at this point are addressed from build perspective.

During normal build I would suggest you have formatter:format configured.  Then when running on CI change that to formatter:validate.  That option will preven it from getting into a master unformatted while allowing developers quick development time to not worry about the plugin.  Basically that means developers need to build first.

[2015-10-29 06:18] danyaljj commented on #79
Awesome. Thanks for the follow ups. So as I understood you guys going to publish a new version which has `formatter:validate` goal?

[2015-10-29 10:33] hazendaz commented on #79
Yes that is coming.  We have a number of things to still work out.  We are going through some growing pains.  The original library became two over the years on different paths.  We are attempting to bring them together which has a number of challanges.  We are fairly close but have to address regressions on both ends.  Once we get everything addressed we will push out the first combined effort.  H

[2015-11-01 03:13] hazendaz commented on #70
Build was failing on appvoyer as well for same reason.  It's been fixed now.  The test logic was specific on \n rather than being able to run on machines set with other line ending styles.  gitattributes already handled correctly but now appvoyer is doubly set with both it's build config as well as the gitattributes to be completely sure.  Both ways were watched on multiple builds without issue.

[2015-11-01 03:13] #70 closed

[2015-11-01 03:14] hazendaz commented on #62
mars.1 issue has been resolved.  Need to reconfirm if project now works as expected.  At this point, its clear mars release had a bug which has since been fixed.

[2015-11-01 03:16] hazendaz commented on #51
mars.1 has issue where it has inability to retain organizing order.  It resets on each restart.  This is something to think about if we figure this one out as it could be confusing.  It would be nice though that we could enforce some sort of alphabetical organization as that is what is done in intellij.  Nothing really says we have to use eclipse way either.

[2015-11-07 02:04] danyaljj commented on #79
Do you guys have any expected release date?

[2015-11-07 18:55] hazendaz commented on #79
There are some regressions to deal with still after merging of two projects that was done.  Probably won't be for a few weeks before I can address all issues from the original project head.  I know @velo noted some issues from his end as well that haven't been addressed.  As soon as we can address those, we should be able to move fowards.  I don't want to through a date out yet but I would expect

[2015-11-10 01:55] danyaljj opened #84 "problem with multi-module project"
There is a solution [here](http://code.revelc.net/formatter-maven-plugin/examples.html#Custom_Configuration_File) for handling multi-module projects, by creating an additional module `build-tools`. I was wondering if it is possible to bypass creating this extra module and just add the config file to one of the existing modules. Essentially is it possible to have the following structure for the pro

[2015-11-10 19:51] ctubbsii commented on #84
I just put the following in my parent:
[code]
[code]
And, for any child modules deeper than 1 level, I just override ```${eclipseFormatterStyle}``` appropriately.

[2015-11-10 20:26] danyaljj commented on #84
Just to make sure I understand it correctly: by "And, for any child modules deeper than 1 level, I just override ..." you mean you add this definition to `pom.xml` of each module?
Do you have an example project doing this?

[2015-11-10 21:09] ctubbsii commented on #84
Hmm, actually... it looks like I don't override... I have all my modules inheriting from the same parent, so that line works for all of them. The Apache Accumulo project does this: https://github.com/apache/accumulo/blob/master/pom.xml#L129

[2015-11-10 21:20] velo commented on #84
Or, you make formatter plugin run only once by setting inheritance to false
https://maven.apache.org/guides/mini/guide-configuring-plugins.html#Using_the_inherited_Tag_In_Build_Plugins

[2015-11-10 21:27] danyaljj commented on #84
It worked! Great!
A side question: when I run `mvn formatter:format` it shows me:
[code]
Does "skipped" refer to the files that are already formatted?

[2015-11-10 21:50] ctubbsii commented on #84
Yes, skipped refers to files that are already formatted.

[2015-11-10 21:51] #84 closed

[2015-11-11 01:00] danyaljj opened #85 "Changing the size of the indentaton"
So I got the Google java style from here:
https://github.com/google/styleguide/blob/gh-pages/eclipse-java-google-style.xml

And added to the formatter plugin. The outputs seemed like it is doing 2-space indentation. But I want 4-space indentation. I think I found the like which controls the indentation:
[code]
Changed to:
[code]
Ran the `formatter:format` again, but nothing changed. Am I doing som

[2015-11-11 20:43] hazendaz commented on #85
There is another setting you will also need to set to 4.  That one is for line continuation.  The other will control the rest.  I forget the element name offhand.

Sent by Outlook for Android

On Tue, Nov 10, 2015 at 5:00 PM -0800, "Daniel Khashabi" <notifications@github.com> wrote:
So I got the Google java style from here:
https://github.com/google/styleguide/blob/gh-pages/eclipse-java-google-sty

[2015-12-11 17:50] danyaljj commented on #79
Just checking on you guys if there is any update on this.

[2015-12-11 18:49] ctubbsii commented on #79
I usually use the checkstyle plugin for verification. I think it works well in conjunction with a good formatter rule. I realize there's discrepancies in syntax and behavior between the configs for both plugins, but I think it's a good combo, and it might be safer to avoid bloating the formatter plugin too much with this extra functionality... at least for now... though I can see merits for it bei

[2015-12-12 00:56] hazendaz commented on #79
I think the ask was on the release.  I believe the new code has this functionality.  I'll try to look at this again shortly.  I believe there are trivial bugs to get the old state and new state working.  I'm in a much better position now to do live tests to flush out issues.  I'll see if I can look at this over the weekend.  Honestly though outside of this change and javascript formatting I don't

[2015-12-14 01:38] hazendaz commented on #62
Closing issue as this was resolved on mars.1

[2015-12-14 01:38] #62 closed

[2015-12-14 01:41] hazendaz commented on #79
While we are still trying to get this released, I would suggest in the meantime to go ahead and use @velo project as it provides that out of the box.

[code]
https://github.com/velo/maven-formatter-plugin

I'm closing this issue since it is present in this code base currently so nothing for us to add other than other word to get released.

[2015-12-14 01:41] #79 closed

[2015-12-14 01:47] hazendaz commented on #85
@ danyaljj

This is the settings you need to enforce 4 spaces when using googles rules.

<setting id="org.eclipse.jdt.core.formatter.tabulation.size" value="4"/>

They have that set to 2.  Try that, if it doesn't work, you could look at my build tools project which contains both 2 character and 4 character files for use.  The 'build tools' works with 0.5.2 version of this code base.  If you have a

[2015-12-14 01:47] #85 closed

[2015-12-22 13:31] jerryag opened #90 "Can you tell me the maven repository for all versions of the plugin?"
I´m using The IDE Eclipse Mars (4.5.0) with the format source feature turned on in the Save Actions. And I use the formatter-maven-plugin 0.5.2 (found in maven central repository) to format all my java source code on Build. But sometimes the plugin formats the code in different way from Eclipse.
In the home page of project there is a table "Eclipse Compatibility" where is shown the version 2.0.0 o

[2015-12-22 18:01] ctubbsii commented on #90
The README you refer to is in the master branch, which is under development. Not all versions it describes have yet been released. Some are still in progress. But, once complete, they will be Maven Central. You can check the tags in this repo to see a released/tagged version. All tagged versions should be in Maven Central. However, keep in mind, that this project has migrated from an older one, so

[2015-12-22 18:01] #90 closed

[2016-01-20 13:03] fabien-testaniere opened #92 "The plugin splits the method parameters when wrapping, eclipse does not"
Formatter-maven-plugin version 0.4
Eclipse Mars

<b>Scenario:</b>
Format a source file containing a method call that exceed the max line length with method calls in parameters.
Example:
<i>myMethod(arg1, arg2, somelongStuff, var.getValue().getSomeStuff());</i>

Configure your formatter to wrap in the middle of "getSomeStuff()"

Eclipse format:
<i>myMethod(arg1, arg2, somelongStuff,

[2016-01-20 13:36] fabien-testaniere commented on #92
I notice the same difference between the Eclipse Kepler and Eclipse Mars formatter. Your plugin is compliant with the Eclipse Kepler format, but not with the Eclipse Mars format.

[2016-01-20 18:48] velo commented on #92
This plugin has not been release with mars yet.

You can try my fork (that since has been merged back but not released)

He is an example!
https://github.com/revelc/formatter-maven-plugin/blob/master/pom.xml#L402

[2016-01-20 21:15] fabien-testaniere commented on #92
Thank's for your answer. I already tried your fork before posting this defect, but I did not find how to configure a specific formatter config file. When speciying the file in the config section as described here:
http://code.revelc.net/formatter-maven-plugin/examples.html#Multimodule_Configuration
the file is found when I use the version 0.4, but is not found with the 1.6.0.RC4 version.
In your e

[2016-01-20 21:39] velo commented on #92
hrmm, I see, lemme know if you find a fix for that.

[2016-02-02 09:28] glelouet opened #93 "[site] incorrect usage artifact"
the usage example uses

which is the old plugin you forked from

[2016-02-02 09:29] glelouet commented on #93
http://code.revelc.net/formatter-maven-plugin/usage.html#

[2016-02-02 11:29] hazendaz commented on #93
Can you submit a pull request to fix this?

Sent from Outlook Mobile

On Tue, Feb 2, 2016 at 1:29 AM -0800, "glelouet" <notifications@github.com> wrote:

http://code.revelc.net/formatter-maven-plugin/usage.html#

---
Reply to this email directly or view it on GitHub:
https://github.com/revelc/formatter-maven-plugin/issues/93#issuecomment-178473830

[2016-02-22 10:29] seratch commented on #51
:+1: If this feature is provided, it would be really helpful for me.

[2016-03-04 12:49] maggu2810 opened #95 "build error: Unable to satisfy dependency"
I tried to build the current master without success.

[code]

[2016-03-04 22:36] ctubbsii commented on #95
I could not reproduce with OpenJDK7 or OpenJDK8. (Though I did run into other problems building with 8 using Maven 3.0.5... the first of which was the enforcer requiring at least Maven 3.2.5, which i think is a bit too strict.)

[2016-03-04 23:20] maggu2810 commented on #95
Hm, tried it on another machine and it is working there.
So, sorry for the issue.
I will compare the Java and Maven versions on my machines.

[2016-03-04 23:20] #95 closed

[2016-03-06 22:44] maggu2810 opened #97 "Support for Eclipse Save Actions"
The Eclipse IDE support Save Actions for Java files.
There are additional actions that are not covered by the formatter.
For example you can configure that the final keyword should be used where possible (IMHO a good practice).
I think this includes also #51

[2016-03-10 02:27] hazendaz commented on #97
@maggu2810 is it possible that you could add this logic?  I'm all for it but don't have much time to spend in this area.

[2016-03-10 09:43] maggu2810 commented on #97
Same here... But if I find some time, I will have a look at.

[2016-04-04 19:18] chonton-elementum commented on #32
I'm interested in this as well.  Any clues where to start in eclipse code?

[2016-04-05 17:24] ctubbsii commented on #32
Not too familiar with the Eclipse codebase, but it seems kinda scattered. Might be best to check in with the Eclipse community to see where the best place to start would be. Hopefully, the code for cleanup is modular enough to be reused here, but it might be a long shot.

[2016-05-03 18:29] belingueres opened #103 "Add ability to download xml file from http location"
I want to share the same formating rules between all projects. A useful feature would be to get the xml file from a single location or URL (or maybe a maven repo?). This way I could add the same configuration in a corporate pom shared between all my projects.

TIA,
Gabriel

[2016-05-03 18:31] ctubbsii commented on #103
Rather than bake this feature in, I think it'd be preferable to download the file in a previous point in the lifecycle, before running the plugin. [Here's an example on StackOverflow for how to do it.][1]

[1]: http://stackoverflow.com/questions/2741806/maven-downloading-files-from-url

[2016-05-03 20:58] #103 closed

[2016-05-11 12:51] sgandon opened #108 "Check formatting but not modify the files"
Hello,
I need to have the maven build (run from a Jenkins) to check for the formatting and stops the build is one or more files are not compliant to a given eclipse formatting.
I don't want to actually modify the files as I am on the jenkins server.
Because there is not way to force developers to use maven build before committing anything, it would be great to simply have a check and not format an

[2016-05-11 13:04] sgandon commented on #108
Ok I guess the ValidateMojo is doing this very precise thing but it is not mentionned in the current release available on maven central : 0.5.2.

[2016-05-11 13:27] ctubbsii commented on #108
It's not even mentioned in the goals at http://code.revelc.net/formatter-maven-plugin/plugin-info.html for 0.5.3-SNAPSHOT.

We probably need to do another release soon, with MARS formatter support and the validate goal documented.

[2016-05-11 15:25] sgandon commented on #108
can you let me know where (which maven repo) can I get the 0.5.3-SNAPSHOT please ?

[2016-05-11 18:31] ctubbsii commented on #108
SNAPSHOT refers to a local build. I'm not sure where, if anywhere, anybody has published that version, but it's not necessarily a tested release. You can check out the source code today, and build the master branch, which I think is version 1.6.0-SNAPSHOT (versioning here is funky, due to merging separately-versioned forks).

[2016-05-11 20:02] velo commented on #108
You can use my fork...

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.marvinformatics.formatter%22%20AND%20a%3A%22formatter-maven-plugin%22

That functionality came from it anyway

[2016-05-11 20:10] sgandon commented on #108
Thanks very much but whater artifact I use I keep getting the same error
`[ERROR] Failed to execute goal com.marvinformatics.formatter:formatter-maven-plugin:1.6.0.RC4:validate (default) on project daikon-parent: Execution default of goal com.marvinformatics.formatter:formatter-maven-plugin:1.6.0.RC4:validate failed: Plugin com.marvinformatics.formatter:formatter-maven-plugin:1.6.0.RC4 or one of i

[2016-05-11 20:30] ctubbsii commented on #108
I would like to get a new release soon which would include these features, but I've been taking a look at the build, and it's a bit confusing to me... not at all what I'm used to for a maven project. Some of the things that confuse me are:

1. the Eclipse plugin modules,
1. the dependency on repos other than what's in Maven Central,
1. the tanaki parent pom,
1. the proguard plugin, and
1. the spec

[2016-05-11 21:15] sgandon opened #109 "If not javascript profile is provided the formatter fails"
I just want to format java code but the plugin fails to load some default javascript formatter.
I'll create a pull request to fix this.

[2016-05-27 08:35] teleivo opened #111 "next release"
Hi, thanks for the work on this super helpful plugin!

when are you planning to release a new version? somehow I cannot get javascript formatting to work with 0.5.2, but can however with @velo latest 1.6.0 release.

[2016-05-27 18:21] ctubbsii commented on #111
Right now, I think people's time is limited. We could probably use some additional volunteers/contributor help to create and ship a new release. I also would love a new version to use that does the Mars formatting, myself.

[2016-05-28 21:34] hazendaz commented on #111
Yes, time is a quite an issue currently.  I know there are some regressions in the current master that need addressed.  For me, getting 0.5.2 through various projects at work and on github was most important.  Now that I'm done with that, I'm looking forward to finding time to work to get the next release out.  As @ctubbsii stated, we need some additional volunteers/contributors to help get the ne

[2016-05-28 21:38] velo commented on #111
Well, I resumed using my own fork, since the bug introduced on git line endings prevent me from using this one.

If you guys wanna see the issue just removed this line
https://github.com/revelc/formatter-maven-plugin/blob/master/appveyor.yml#L16

@teleivo FWIW, 1.6.0 it's a mars release!

[2016-05-28 21:59] hazendaz commented on #111
@velo can you explain what you mean by bug.  .gitattributes controls line endings.  In windows, it needs to be windows style.  In *nix it needs to be *nix styled.  That is standard usage and even suggested when installing git.  That change specifically was added to fix app voyer at the time as documented that they did not adhere to .gitattributes settings.  The setting in git attributes is exactly

[2016-05-28 22:02] hazendaz commented on #111
app voyer still claims that needs to be set [here](http://www.appveyor.com/docs/lang/nodejs-iojs#line-endings}

[2016-05-28 22:43] hazendaz commented on #111
app voyer was running fine (all green) until pull request 105 / 106.  At that point, the AnyClass.java is getting the 'year' updated to 2016 on appvoyer.  That doesn't happen locally so some git difference possibly.  So I forced the year to 2016 which got the same sha.  This is queued now for build and I will report back shortly...

[2016-05-29 00:09] hazendaz commented on #111
appvoyer is stable again.

[2016-05-29 00:22] velo commented on #111
@hazendaz I use windows with default settings, have being doing that since ever....  and for some reason the build no longer works here.  Tests do not pass and I don't wanna change my settings.

[2016-05-29 00:54] hazendaz commented on #111
@velo If you are willing, try installing GIT again on your machine.  When it is going through installation, make sure you check the correct box to checkout as windows endings in windows, *nix in unix, and check in as *nix.  That is the issue.  It has nothing to do with default settings unless you only use egit (which is crap) to work with git.  For EGIT you have to add that global setting becaues

[2016-05-29 01:01] hazendaz opened #113 "AppVoyer issues"
Appvoyer is very unstable.  It's working but fails to download things quite a bit.  When it does properly work, our builds are completely successful.

[2016-05-29 07:51] ctubbsii commented on #113
The travis-ci builds seem stable enough. Do we really need both?

[2016-05-29 08:53] velo commented on #113
travis run on linux/mac
appveyor runs on windows

I remember having problems with this plugin the very first try I ran on windows....  today I don't know any isses, but is a matter of preventing those.

[2016-05-29 09:02] velo commented on #111
That is the think, all machines I have access to and that already have git install fail to build.  Even appveyor w/o the settings I pointed out don't work.

I don't know how this settings affect or not other code bases, I just know the plugin do not build if you take this out https://github.com/revelc/formatter-maven-plugin/blob/master/appveyor.yml#L16

That is why I released 1.6.0 of my fork, I d

[2016-05-29 09:20] ctubbsii commented on #113
Oh, I see. I guess it's useful to ensure Windows builds work, then.

[2016-05-29 17:09] hazendaz commented on #113
The build in appvoyer is working now.  What I'm seeing though is that it fails on many occassions to download various dependencies.  The one I saw most was the license plugin.  It stated it was not available yet trying again it just worked.  So I find it a bit unstable. And at the very least wanted a note out here regarding that in case we continue to see this.

Now ironically after recent update

[2016-05-29 17:11] hazendaz commented on #113
One other strange thing.  On appvoyer, I kicked it off manually and the last build 51 is fine but that doesn't reflect on our project.

https://ci.appveyor.com/project/hazendaz/formatter-maven-plugin/build/51

[2016-06-07 14:49] sgandon opened #115 "make the formatter compliant with Eclipse Mars 4.5.2 and Neon"
Hello guys when using Luna 4.5.2 there are some difference with the current eclipse formatter supported with this maven plugin.
could you make it compliant with Luna 4.5.2.
Also Neon is coming out in a few days, that would be great to also have compatibility.

[2016-06-07 19:35] ctubbsii commented on #115
The current master branch supports Mars and later, I believe. We just need to perform a proper release.

[2016-06-08 07:56] sgandon commented on #115
Sorry I mean Mars 4.5.2 (and not Luna), and I confirm that there are differences between the formatting the plugin provides on master and the Mars 4.5.2 release, if you need more details let me know.
We are also using Intellij Eclipse formatter plugin https://github.com/krasa/EclipseCodeFormatter
which is compliant with 4.5.2 as well.

[2016-06-08 08:44] philipp-classen opened #116 ""Unable to satisfy dependency from jdt-core 1.6.0.qualifier to bundle org.eclipse.jdt.core""
"mvn verify" fails with the following error message (on the current master state cdea7bfbac235e978e3337008c595038f9157b5c). It fails to resolve jdt-core:

[code]

("mvn verify" against the "formatter-maven-plugin-0.5.2" tag works.)

[2016-06-08 08:57] philipp-classen commented on #116
I retried after moving my "~/.m2" directory away to rule out issues with my local Maven configuration. Now the error is as follows:

[code]

[2016-08-08 02:36] hazendaz commented on #116
@philipp-classen Are you still seeing this issue?

[2016-08-08 02:37] hazendaz commented on #109
Closing as this was fixed on PR #114

[2016-08-08 02:37] #109 closed

[2016-08-08 03:01] hazendaz commented on #61
I looked over the code and I think we addressed this prior to code being merged back in October.  Feel free to re-open this if this wasn't addressed.

[2016-08-08 03:01] #61 closed

[2016-08-08 03:16] hazendaz commented on #93
This is fixed in the code base.  We haven't pushed a site in some time.  Closing as we get closer to releasing.

[2016-08-08 03:16] #93 closed

[2016-08-08 09:24] fbyrne opened #123 "Formatter attempts to format readonly files"
The formatter does not skip files readonly files that cannot be formatted.

This is important for SCMs which require checkout for example, perforce.

[2016-08-08 23:34] hazendaz opened #125 "support module - why?"
Support module was indicated as required by the plugin but it's not used at all.  What was the purpose of this?  I think we can get rid of it unless I'm missing something.

[2016-08-09 00:41] hazendaz commented on #123
Closing as fixed in #129

[2016-08-09 00:41] #123 closed

[2016-08-09 12:44] philipp-classen commented on #116
No, it is fixed now. :-)

[2016-08-09 12:44] #116 closed

[2016-08-09 12:47] hazendaz commented on #116
Thanks

Get Outlook for Android<https://aka.ms/ghei36>

On Tue, Aug 9, 2016 at 8:45 AM -0400, "Philipp Claßen" <notifications@github.com<mailto:notifications@github.com>> wrote:

No, it is fixed now. :-)

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/revelc/formatter-maven-plugin/issues/116#issuecomment-238541305>, or mute the th

[2016-08-12 00:30] hazendaz commented on #115
@sgandon On our current master, do you have time you could point out where you might think our support for mars is lacking?  I think we are getting really close to buttoning this up and releasing but time is short to look at this in greater detail.  And I since moved off to neon so my miliage may vary in trying to get it proper for mars.

[2016-08-13 05:13] danyaljj opened #131 "Goals: verify?"
Does the plugin have a goal for verifying the format?

[2016-08-13 16:06] hazendaz commented on #131
Yes, goal of 'validate'.  This is in current master.  We are getting closer to releasing this soon.

[2016-08-13 16:06] #131 closed

[2016-08-21 07:02] AlexanderZobkov opened #132 "Add support for groovy"
It would be great if the plugin can format sources that contain groovy code as well.
Probably DefaultGroovyFormatter from https://github.com/groovy/groovy-eclipse can be used for that purpose:
groovy-eclipse/ide/org.codehaus.groovy.eclipse.refactoring/src/org/codehaus/groovy/eclipse/refactoring/formatter/DefaultGroovyFormatter.java

[2016-08-21 17:12] hazendaz commented on #132
Any chance you might be able to build the groovy support and submit a PR?

Get Outlook for Android<https://aka.ms/ghei36>

On Sun, Aug 21, 2016 at 3:02 AM -0400, "Alexander" <notifications@github.com<mailto:notifications@github.com>> wrote:

It would be great if the plugin can format sources that contain groovy code as well.
Probably DefaultGroovyFormatter from https://github.com/groovy/groovy-ecl

[2016-08-22 11:56] rbaeta opened #133 "Support other formatters rather than just Eclipse"
If formatter could be abstracted from Eclipse IDE, it would be easy to use it in a maven project loaded in other IDEs, like Intellij and Netbeans. There are opensource code formatters out there that don't depend on m2e plugin. This way you would get rid of Eclipse compliance problems.
Cheers!

[2016-08-22 21:59] ctubbsii commented on #133
@rbaeta This plugin is specifically an Eclipse formatter. Part of the reason why it's so useful, is because you can reformat during the build, even if the developers are using another IDE.

Another formatter engine could be used (Eclipse's is probably no better/worse than any other), but if it did, what other formatters would you suggest it use?

[2016-09-06 00:15] hazendaz opened #135 "license -plugin - fixit"
license plugin 'inhereted' which was set claiming that would fix license requirment of file at each module did one thing and one thing well.  It entirely disabled the plugin in all submodules so it in fact did nothing.  There is an easy, proper fix to this. I will address this personally when I get back around to this project.  I've got this properly working in others without need to duplicate the

[2016-09-10 22:55] #135 closed

[2016-09-10 22:57] hazendaz commented on #113
Appvoyer is failing again.  Looks like they might have changed maven M2_HOME variable location.

[2016-09-11 09:22] Shredder121 commented on #19
Just a small heads up:
The issue is present when you use `core.autocrlf input` I believe.
At least, I'm on Windows, and rather work with what's in the repository than with CRLF, so you can see earlier when people haven't set up their git correctly.

But if git has checked out one line ending style and watches that format, and the plugin then writes out CRLF, git sees that the file has changed.

It

[2016-09-11 16:24] hazendaz commented on #19
We do expect auto true.  And eventually will turn on a ci hook that will prevent code making it in with improper line endings.  At least on the travis / appvoyer builds by making them fail.

Get Outlook for Android<https://aka.ms/ghei36>

On Sun, Sep 11, 2016 at 5:22 AM -0400, "Ruben Dijkstra" <notifications@github.com<mailto:notifications@github.com>> wrote:

Just a small heads up:
The issue is p

[2016-09-11 16:40] hazendaz commented on #19
Let me clarify a bit in case the question was about usage not working in our code base.

1) Working in our codebase.

      * We use git attributes to control line endings.
      * Eclipse egit doesn't support git attributes.
      * The settings used are highly typical of git projects on github.
      * Users can locally use whatever they want to build but if they commit with egit, it will cause

[2016-09-23 10:25] roosemberth opened #138 "Setting column width"
Hello,

I'd like to change the default column width from 80 columns to 120 columns. Can you please tell me how can I do such change?

Bests Regards,
Roos

[2016-09-23 13:39] roosemberth commented on #138
Dirty hack:
Specify an eclipse config file with the following lines:
[code]

I'd still like to know the proper way of doing this

[2016-10-02 00:48] hazendaz commented on #138
Normally you configure your own eclipse format settings in eclipse, export that, and then use that with your builds.  It's not exactly a hack in doing so.  This project simply uses what you provide it.

[2016-10-02 00:48] #138 closed

[2016-10-02 00:49] hazendaz commented on #138
Closing as this isn't really an issue and is more of mis-understanding in how eclipse does it's formatting.

[2016-10-18 14:52] trumpetx commented on #95
I am also getting this error on the two machines where I need it to be built.  On my home machine, it runs fine.  I don't think this issue is a problem, per se; however, the error message should give indication on how to fix the build machine:

`<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <resolver>p2</resolver>
  <ignoreTychoRepositories>true</ignoreTychoRepositories>
  <pomDependenc

[2016-11-28 11:01] mwensveen-nl opened #142 "Maven Central"
Hi,
Is there any change that the latest release (2.0.0) is going to be available in de maven central repository. At this moment 0.5.2 is the latest available.

[2016-11-28 14:21] hazendaz commented on #142
Ill try to get a release out very shortly (maybe today).  I was told javascript formatting isnt working so ill take a look at that first.

Get Outlook for Android<https://aka.ms/ghei36>

On Mon, Nov 28, 2016 at 6:01 AM -0500, "mwensveen-nl" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
Is there any change that the latest release (2.0.0) is going to be available in de mave

[2016-11-28 23:50] hazendaz commented on #125
After review, it was discovered this was added long back and was used in the main formatter file but broke jarred usage and was removed.  Since we didn't currently have it and I don't see an immediately need for it will remove the small amount of code it added.  If it comes up later that it's needed, we can revisit the issue.

[2016-11-28 23:50] #125 closed

[2016-11-29 05:32] hazendaz opened #149 "How to release????"
[INFO] [ERROR] Failed to execute goal org.eclipse.tycho:tycho-packaging-plugin:0.24.0:validate-version (default-validate-version) on project jdt-core: Maven version 2.0.0 must have -SNAPSHOT qualifier for SNAPSHOT builds

So trying to push release 2.0.0, besides a very messy package setup that I'll fix later (ie it asked me more than the typical once for version number), I cannot get through relea

[2016-11-29 05:37] ctubbsii commented on #149
Which branch/commit are you trying to release from?
(Side-note: seems we have a lot of extra branches, which probably need to be cleaned up... not sure what all those are about.)

The multiple prompts was probably because we don't have `autoVersionSubmodules` set to `true`.

[2016-11-29 11:47] hazendaz commented on #149
Ah yah...that probably isnt set.  Ill check tonight.

I was trying to run release off master.

All the branches are currently needed.  Its using tycho to get eclipse mars.  I dont understand much about that but do know the next parent blocks the compiler plugin and says we must use a different lifecycle.  Thst could have something to do with it.

Get Outlook for Android<https://aka.ms/ghei36>

On

[2016-11-29 20:13] ctubbsii commented on #149
I looked into this, and it appears that the problem is with https://www.eclipse.org/tycho/sitedocs/tycho-packaging-plugin/validate-version-mojo.html

There are a few places in the code where "1.6.0.qualifier" is hard-coded. `grep -R qualifier .`
This causes a mismatch with the OSGi and Maven versions for a release version.

[2016-11-29 20:27] ctubbsii commented on #149
I have a fix for the release in #150 . However, it will probably fail on the next snapshot. We should do something to generate the OSGi version properties using property interpolation with the maven-resources-plugin.

[2016-11-29 20:28] ctubbsii commented on #149
I noticed that we're still using Java 7. I think we should bump to requiring Java 8.

[2016-11-29 20:30] velo commented on #149
this is how I release it:
https://github.com/velo/maven-formatter-plugin/issues/18

[2016-11-30 03:27] hazendaz commented on #149
Thanks @velo.  Not sure I fully understand why it's done that way and why the versions in the files are not being updated on the source repo like release plugin does.  For the time being as that is a lot to learn/understand, I'll go the old fashioned way.

@ctubbsii..I think that is why I was using 0.24.0 of tycho.  Should be fine otherwise other than possible breaking travis build.  It's downcast

[2016-11-30 03:31] velo commented on #149
Ow, I do my best to stay away from maven-release-plugin

[2016-11-30 03:53] ctubbsii commented on #149
I've been really happy with the maven-release-plugin and git, as long as autoVersionSubmodules is true, pushChanges is false, and localCheckout is true. It really helps automate things according to Maven conventions, and works well with pushing to a staging repository like Maven Central.

This plugin is by far, one of the most complicated ones I've seen. I'm still not sure how much of that is due

[2016-11-30 03:57] hazendaz commented on #149
Same feelings here.  I tried the release.  It only would push a small portion.  I must admit I don't understand tycho or why we need it across everything.  I understand for portions it's certainly needed from the looks of it as it grabs the eclipse bundles.  However, those even run on mvn clean which is concerning.  I think splitting it into two makes sense or it might be a bit longer to fully und

[2016-11-30 03:57] velo commented on #149
Indeed.
That is the main reason why I automated the release with rultor... now releases take zero effort =)

[2016-11-30 03:58] hazendaz commented on #149
Re-opening as release failed using maven release as it skips all the deployments due to tycho.

[2016-11-30 03:59] velo commented on #149
tycho bridges maven and eclipse worlds...
I use tycho do grab eclipse jdt-core and pack in a maven usable way

[2016-11-30 04:01] hazendaz commented on #149
So would it make sense then to split it?  The normal plugin doesn't require the eclipse world technically speaking.  So maybe run just what needs run to perform the eclipse builds.  Keep in mind eclipse is only going to release 3 cuts of each version of Eclipse anyways.  So our need to constantly build that piece which fails way to often isn't that necessary.

[2016-11-30 04:05] velo commented on #149
wait, what?
The maven plugin uses jdt-core... what do you mean by "normal plugin doesn't require the eclipse world"?

This plugin runs eclipse jdt-core to make formatting happen.

[2016-11-30 04:11] hazendaz commented on #149
What I mean is that can be built separately.  We could even just use your builds of that piece and ignore building it here.  We didn't have the original this tightly integrated and the largest complaint/concern I've seen about the current code is that the eclipse site piece fails all the time.  And that much is pretty valid.  It failed on me twice tonight.  There are also only three releases of Ma

[2016-11-30 04:12] hazendaz commented on #149
Any way...logging off for the night.  Talk to you guys later ;)

[2016-11-30 04:20] velo commented on #149
Indeed... but the original plugin was not able to upgrade eclipse at will... it would need to wait for it to appear on maven central... which could take a while if happening at all.

sure, you can have one project deploying the eclipse jdt-core and another just for this plugin, but currently, eclipse releases happen way more often the formatter-plugin releases.

We are not, I just shrink the jar s

[2016-11-30 04:25] hazendaz commented on #149
We are not, I just shrink the jar so it only include the classes I need... not half eclipse. --> Gotcha!

[2016-11-30 05:20] ctubbsii commented on #149
Yes, it's too bad Eclipse doesn't do this automatically.

I would be helping out a lot more, if things weren't so complex. I know Maven, but I don't know Eclipse. This project seems to require a lot more understanding of Eclipse than it does Maven. This isn't necessarily a problem with the project, but I do wish I understood more about how it could be simplified.

[2016-11-30 05:23] velo commented on #149
If you mvn clean install all, then you can import only the maven plugin at
your ide and play along.

Releasing is already fully automated on my fork, cherry pick it and be
happy :)

On Wed, 30 Nov 2016, 18:20 Christopher Tubbs <notifications@github.com>
wrote:

[2016-12-01 22:09] ctubbsii commented on #149
For reference, https://bugs.eclipse.org/bugs/show_bug.cgi?id=484004

[2016-12-06 08:24] mkopec87 commented on #142
Hi, any update on this? :)

[2016-12-07 00:33] ctubbsii commented on #142
@mkopec87  We had some discussion of the release process on #149 , which I think has made some progress. I'm sure you can expect a release soon.

[2016-12-26 18:18] hazendaz commented on #149
I manually uploaded the release.  Still don't understand why tycho likes to stop plugin usage.  Seems pointless.  The artifacts all create fine on a build so just released everything that way to central.  I'm sure that misses something for m2e as a result as I just released all that to central as well.  However, I think those that care are not caring much about m2e integration as they are just run

[2016-12-26 18:19] hazendaz commented on #142
@mkopec87 I pushed a manual release.  It should be in central in next couple of hours as version 2.0.0.  Everything is pushed to central so typical m2e if needed probably isn't ready to go but from a standalone build perspective, it should be good enough.  I'll leave this open until I hear back that it's working as expected.  Thanks.

[2016-12-26 18:20] hazendaz commented on #115
I just pushed a mars release.  It should be available in next couple of hours.

[2016-12-26 18:21] hazendaz commented on #111
I pushed a release of this as 2.0.0.  It should be in central in next couple of hours.

[2016-12-26 20:26] velo commented on #149
Well, the steps I use to release using rultor work just fine... embrace it.

[2016-12-26 20:57] hazendaz commented on #149
Id rather split this into two pieces to clearly separate the eclipse vs maven plugin first.  At that time id be able to learn the tool you use.  Otherwise extremely limited on time and formatting needs are not really a priority.  Splitting into two makes most sense but obviously not a good time to make such a change to get released.

Maybe you could help with that?  I feel our plugin is more likel

[2016-12-27 21:49] hazendaz commented on #142
I personally verified on another project this is uploaded now.  Now the search maven central is under maintenance and quite backed up.  I'm told another day or so before it shows there but it does work.  Keep in mind the groupId added '.formatter' and version is 2.0.0 to use.

[2016-12-27 21:49] #142 closed

[2016-12-27 21:49] hazendaz commented on #115
Closing this as mars release is complete.  I'll open a new ticket for neon release.

[2016-12-27 21:49] #115 closed

[2016-12-27 21:50] hazendaz opened #153 "Release Neon Version of formatter"
We should just wait until the next patch is available so we only have to release one for neon.  Probably no huge rush.  At that time, it will require we are java 8.

[2016-12-27 21:51] hazendaz commented on #111
There are some central sync issues due to maintenance that I've confirmed.  The release is entirely in sonatype releases so good to use but won't show in central for a few days.  Since this has been confirmed via sonatype team, I'm closing this as completed.

[2016-12-27 21:51] #111 closed

[2016-12-27 21:54] hazendaz commented on #108
@ctubbsii Separately I think we should just split the library into a copy of repos as we are mainly concerned on the formatting here.  The eclipse piece which we still have a learning curve on it shouldn't release more than 3 times a year based on eclipse schedule and we can configure that such that it releases as needed.

As for questions here on CI type formatting to stop builds, that is now rel

[2016-12-27 21:54] #108 closed

[2016-12-27 21:57] hazendaz opened #154 "Separate Eclipse pieces vs Maven Plugin"
As eclipse piece requires tycho which the maven plugin pieces does not, releases are far too complicated.  While @velo has a special plugin, I feel that doesn't properly adhere to normal release practices in github.  So since it's clear the tycho piece is for eclipse only and the plugin itself doesn't care, we need to separate the two apart.  The expectation is the eclipse piece will release each

[2016-12-27 21:58] hazendaz commented on #149
Opened #154 to separate out eclipse only vs standard maven plugin.  Release ended up being completely manual in current case as we don't have rultor setup.  Rultor can be used on eclipse side of the house but for standard side I'd prefer we stick to maven-release-plugin as it works.

[2016-12-27 21:58] #149 closed

[2016-12-27 22:25] velo commented on #154
Maven plugin does use tycho to grab jdt and jsdt

On Wed, 28 Dec 2016, 10:57 Jeremy Landis <notifications@github.com> wrote:

[2016-12-27 22:42] hazendaz commented on #154
No. formatter-maven-plugin itself does not.  It uses the dependencies only.  All the other pieces should be completely separated.  Only those pieces need tycho.

Separation would be this.

formatters, m2e-configuration go into their own project (ie the Eclipse needed project until eclipse more actively releases to central with this eventually being dropped).
maven-plugin -> stays in current projec

[2016-12-27 23:10] velo commented on #154
Considering latest eclipse is 4.7 (oxygen) this seems really out-to-date

On Wed, 28 Dec 2016, 11:51 Jeremy Landis <notifications@github.com> wrote:

[2016-12-27 23:40] hazendaz commented on #154
oxygen isn't released until June 2017.  Milestone releases are far too early to even be considering.  Only hard-core developers that are willing to take risk use those releases.  That would be like us requiring java 9 to compile this.  It's not ready and therefore shouldn't be in the discussion.

You have to keep in mind this product is being used in corporate environments.  Those corporate enviro

[2016-12-28 03:54] velo commented on #154
Fair point... neon 4.6....  that ain't beta anymore

On Wed, 28 Dec 2016, 12:40 Jeremy Landis <notifications@github.com> wrote:

[2016-12-28 22:12] hazendaz opened #155 "Sync issue on maven central - tracking"
Opened ticket to determine why sync from sonatype did not occur.  See details [here](https://issues.sonatype.org/browse/MVNCENTRAL-1459).  Since this didn't get updated over night as suggested, I'm opening this here for tracking.

[2016-12-28 22:26] ctubbsii commented on #155
To be clear, the sync did occur, since the artifacts are now available in Maven Central. However, the indexes at search.maven.org aren't yet updated. That is a separate task, and it can often take some time before they get updated. Since the artifacts are there, you can be sure that they'll eventually get indexed with the rest of central the next time the indexers run. There's nothing stopping any

[2016-12-28 22:33] ctubbsii commented on #154
While it may still be worth separating the Eclipse plugin from the Maven plugin, there is some ongoing effort within the Eclipse community (https://bugs.eclipse.org/bugs/show_bug.cgi?id=484004) to make the JDT and other core Eclipse artifacts available in Maven Central. This could simplify things for downstream projects like this one which don't necessarily need the OSGi bits, and could get away w

[2016-12-28 22:53] velo commented on #154
Well, the target version for it is 4.7

Which won't cut for this mars requirement Jeremy mention

On Thu, 29 Dec 2016, 11:33 Christopher Tubbs <notifications@github.com>
wrote:

[2016-12-28 22:56] hazendaz commented on #154
Mar cut is released now so mars is done.  Only Neon is left for us to do.  I'd suffer through the manual release again.  It only took an hour or two ;)  However, for now, at least on my part, I'm considering this done for a while and will be working to get the mars cut into corporate use (these days means lots of extra work not just using it).  I've gotten it into two open source already.  So will

[2016-12-28 23:09] velo commented on #154
Well, I released mine with neon... it's a trivial process using rultor, I
still don't understand why you guys don't do the exact same thing and move
on

On Thu, 29 Dec 2016, 11:56 Jeremy Landis <notifications@github.com> wrote:

[2016-12-28 23:18] ctubbsii commented on #154
If rultor is the most sensible thing to do, that's fine. I'm not familiar with it at all, and the release process using that is not documented anywhere within the project itself. But, the project does have maven-release-plugin configured... and it's a maven project, so it *looks* like that's the expectation, since that's the standard and there is an absence of alternative instructions.

[2016-12-28 23:29] hazendaz commented on #154
For me its lack of time to learn it.  Thats all.  More of my time is deep in learning spring java config and boot.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Wednesday, December 28, 2016 6:18:25 PM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Author
Subject: Re: [revelc/formatter-maven-plugin] S

[2016-12-29 23:17] hazendaz commented on #155
Syncs completed.

[2016-12-29 23:17] #155 closed

[2016-12-29 23:46] hazendaz commented on #154
tycho does release to central the jdt-core.  Bits and pieces of jfaces/text are out there separately but not all the way up-to-date and jsdt is missing entirely at current.

[code]

[2016-12-29 23:47] hazendaz commented on #154
Neon.2 is otherwise live now.

[2017-01-08 13:44] steowens opened #157 "Plugin throws java.lang.NoClassDefFoundError: org/eclipse/text/edits/MalformedTreeException"
Apparently the POM for this plugin is missing a transient dependency.

[code]

[2017-01-11 01:21] hazendaz commented on #157
We only use that copy of formatter internally.  How exactly are you using this that is causing that issue?

[2017-01-14 17:40] fzakaria opened #158 "Enhancement: Would love a feature to fail the build if any formatting occurs"
I want to include `formatter-maven-plugin` to my maven project but I think it would be great for my build system to catch any commits that don't adhere to the formatting
(i.e. someone can change the code and commit without running the formatter)

A flag to add "failBuildIfFormat" would be great to add to the continuous build system to catch these!

[2017-01-14 18:17] hazendaz commented on #158
That logic is in release 2.0.0.  There is a goal to check formatting that will fail it.

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, Jan 14, 2017 at 12:40 PM -0500, "Farid Zakaria" <notifications@github.com<mailto:notifications@github.com>> wrote:

I want to include formatter-maven-plugin to my maven project but I think it would be great for my build system to catch any commits that do

[2017-01-14 18:27] fzakaria commented on #158
missed that....
Okay, maybe change this to add documentation.
👍

I'm not clear what the aggregator does.

[2017-01-14 18:33] hazendaz commented on #158
Yes docs probably need some updating.  Go ahead and try what we have and if you can raise a PR to help clarify docs that would be great.  Not sure many have used the new features yet.  If you run into any issues let me know.

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, Jan 14, 2017 at 1:27 PM -0500, "Farid Zakaria" <notifications@github.com<mailto:notifications@github.com>> wrote:

mis

[2017-02-11 05:34] hazendaz commented on #157
No response from user, unable to reproduce.  Closing.

[2017-02-11 05:34] #157 closed

[2017-02-11 05:37] hazendaz opened #162 "IndexOutOfBoundsException"
JavaFormatter.doFormat on line 54 of the 2.0.0 release has encountered above exception.  Unclear as to why as 20+ modules of implementation worked without issue and only running into this once.  We need to log the actual file causing the issue which we are not doing.  We should also trap this so it doesn't occur.

[2017-02-13 00:18] #162 closed

[2017-02-16 07:03] bjakke commented on #97
I have long searched for a solution to apply save actions automatically. The problem is that those cannot be exported to an .xml file nor be applied to a codebase (at least not to my knowledge, the only option is to save each file manually in the editor). However recently I figured out there is also Clean Up formatter that can be exported to xml and applied via Source->Clean Up to entire source tr

[2017-03-02 10:09] maggu2810 commented on #97
I really great feature would be if the plugin could handle Oomph setup files.
This files could contain the whole Eclipse IDE setup, so also save actions, clean up rules, formatter, ...

But similar to @hazendaz, I have no time to implement this feature myself.

[2017-03-06 22:15] huitseeker commented on #133
There is an IntelliJ plugin available as well: https://plugins.jetbrains.com/plugin/8527-google-java-format

[2017-03-06 22:19] huitseeker opened #172 "Clearer error messages needed on validation error"
In its current state, when the `validate` goal is activated in an execution, formatting errors create the following message:

[code]

Without more insights, it's hard to figure out what the formatter does not like — it would be useful to have a more specific error message, with a line number pointing to the first error.

[2017-03-06 23:50] hazendaz commented on #172
I do agree but at the root it's just saying formatting was not performed by developer and then committed to repo.  So solution is for developer to run build and commit changes.

Will keep this open though as it has merit.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: François Garillot <notifications@github.com>
Sent: Monday, March 6, 2017 5:19:35 PM
To: re

[2017-03-23 09:52] doubfly opened #174 "compile error"
i download the source code locally, and try to compile it, but there is an error "Missing requirement: jdt-core 2.0.2.qualifier requires 'bundle org.eclipse.jdt.core [1.0.0,10.0.0)' but it could not be found".

[2017-05-21 15:21] endrejeges opened #177 "Fix broken update site for m2e"
The M2e configurator update site (http://revelc.github.io/formatter-maven-plugin/p2/2.0.0) in the README.md seems to be broken.

When trying to add the site to Available Software Sites in Eclipse Mars 3 it says: "No software site found at http://revelc.github.io/formatter-maven-plugin/p2/2.0.0. Do you wish to edit the location?"

When I tried to go to the site location in a browser, then it redire

[2017-05-23 02:23] hazendaz commented on #174
jdt-core does fail from time to time.  If you try again on another day it will work.

[2017-05-23 02:23] #174 closed

[2017-07-02 16:57] ctubbsii commented on #51
I'm closing this issue as out of scope, because the Eclipse plugin that this formatter is based on does not include this feature. However, I am working on a similar plugin over in [revelc/impsort-maven-plugin][1].

[1]: https://github.com/revelc/impsort-maven-plugin

[2017-07-02 16:57] #51 closed

[2017-07-04 03:21] elrodro83 opened #184 "`insert_new_line_after_annotation_on_enum_constant` ignored"
For instance when the formatter config has `insert_new_line_after_annotation_on_enum_constant` set to `true`,

[code]

becomes

[code]
when it must stay the same (foratting from eclipse keeps it the same)

This issue manifests in both 2.0.0 and 2.0.1. It works correctly on 1.8.0 (from the velo fork)

[2017-07-04 03:44] hazendaz commented on #184
@elrodro83 Do you know if that was introduced with Eclipse Neon or existed previously?  At the moment, we are still on Mars formatting as switching will require java 8 for usage and we felt we would wait.  If that has been available for longer, we certainly will take a look.  If not, that would explain the issue.

[2017-07-04 22:28] elrodro83 commented on #184
Hi, most probably, fromn what i could find, it was added in Neon.

Is there any timeframe for the neon support? It is already in its third release.

[2017-07-04 23:14] hazendaz commented on #184
Thanks.  I think we can go ahead and raise to neon and support backwards compatibility off older branch cut.  It forces java 8 which is why we have held off.  And at least for me personally it's difficult to get updates widespread into enterprise usage and thus our mars revision finally has hit a sweet point there.

I'll start looking at raising the build up tonight.  It might take a week or so to

[2017-07-05 00:18] hazendaz commented on #172
@huitseeker I have updated the warning to be more clear.  I'm pushing a fix shortly.

Here is the new message you will see...

[code]

[2017-07-05 00:43] #172 closed

[2017-07-05 01:06] hazendaz commented on #158
Updated docs for site per #187

Seems like our site is not properly updating but I'm trying a few things and will open a new ticket if I cannot get that working.  Otherwise closing this issue as documentation now notes validation information.

[2017-07-05 01:06] #158 closed

[2017-07-05 01:08] hazendaz commented on #92
Closing issue as we are on mars now so this issue is likely fixed per converstation noted here.

[2017-07-05 01:08] #92 closed

[2017-07-05 01:09] hazendaz commented on #153
related to #92

[2017-07-05 01:11] hazendaz opened #188 "Site is not intact"
While the main site page is showing todays date, the remainder is still showing from 2015.  Thus far I did a full maven build with site and then a deploy.  All that did was fix the first landing page.  The underlying pieces like usage are showing the old dates.  We need to figure this out so users have proper documentation.

[2017-07-05 12:08] elrodro83 commented on #184
Great, looking forward to it. Thanks!

[2017-07-05 12:08] #184 closed

[2017-07-05 20:09] huitseeker commented on #172
@hazendaz thanks!

[2017-07-08 18:31] hazendaz opened #192 "javadoc formatter doesn't seem to work"
In prior versions of this plugin, javadocs would format.  I'm noticing that it looks like javadocs are no longer formatting.  If I use eclipse to run format it works fine.  I have confirmed both my eclipse settings and format settings match.

[2017-07-24 00:37] hazendaz commented on #154
Most likely related to having maven mixed with takari, poms for various pieces (m2e in this case) have not been created since february and travis ci cannot see them on further updates to get to neon.

[2017-07-24 00:46] hazendaz commented on #154
To add to my last comment, various .pom files are showing up with february dates while everything else is new.  This was causing build failures on travis.  However, attempting to do again today after about a month, all seems well now so pushing that forwards but still have some concerns about where those poms are being no longer generated...

[2017-07-25 09:25] jontejj opened #194 "Validate goal doesn't pick up formatters?"
If I run the format goal it works but when i switch to validate I get "You must provide a Java or Javascript configuration file".

I.e:
[code]
doesn't work, but with "format" it does.

[2017-07-26 03:31] hazendaz commented on #194
Thanks for reporting.  I don't have much time to look into this.  If possible, would be great if you could look into this and see if you cannot solve the issue.  What I would suggest is looking at how the normal formatting logic works and see if it's just missing something on that end.  I'll happily take pull request and can even work a release quickly to get patched.

[2017-07-26 04:57] jontejj commented on #194
Alrighty! I might also squeeze in a feature to only validate files that
have been changed. (Another PR of course) Both as a way to make it faster
but also to introduce it slowly into a project instead of all at once.

On Wed, Jul 26, 2017, 06:31 Jeremy Landis <notifications@github.com> wrote:

[2017-07-26 06:42] jontejj commented on #194
It seems like it was due to the fact that the "initialize" phase is triggered after the "validate goal. (https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html) We had this in our config setting up the path:
[code]

Using a hardcoded path to the config file works.

So there are two options: be happy with this the way it is and not being able to use "initialize" stuff (I th

[2017-07-26 14:46] ctubbsii commented on #194
The default for this plugin is to run at "process-sources" phase.

[2017-07-27 05:44] jontejj commented on #194
The validate goal is bound to the validate phase though.

[2017-07-28 01:29] hazendaz commented on #194
@jontejj Yup that is bad.  We probably should move it to the process sources.  I took a look at maven again to be sure [here](https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html).  I don't see why we would want this happening so soon.  However, I suspect the generation of source files might have issues complaining that we failed to format those files.  So before we do t

[2017-07-28 04:49] jontejj commented on #194
Yeah it works as it is for us. So you can close this one from my point of
view. But as we are using both intellij and eclipse, I'm considering to use
checkstyle instead. It will give us faster feedback in the ide.

On Fri, Jul 28, 2017, 04:29 Jeremy Landis <notifications@github.com> wrote:

[2017-08-14 14:26] earcam opened #195 "Repositories not checked for dependency containing formatter XML"
Hi,

I ran into this issue getting Travis CI setup (but the case is reproducible with an empty local repository and the formatter XML JAR in a defined remote repo).

It seems that remote repositories are not checked for the JAR containing the formatter XML files...

Given an empty local repository and a settings.xml file containing repositories maven central and oss.sonatype (which holds the forma

[2017-08-15 02:19] hazendaz commented on #195
@earcam Strange that you are getting the error you see.  I'm not offhand seeing what the issue is.  I have not run into this issue on travis ci before and almost always run everything with no cache.  The only way I personally use this is via a JAR file like you have.  Only I store my content directly in the jar instead of META-INF.  However, that doesn't seem to fully explain the situation you hav

[2017-08-16 00:33] ctubbsii commented on #195
@earcam It sounds like you're running into some Maven dependency resolution quirk, unrelated to this specific plugin. Perhaps you forgot to set Maven resolves plugin dependencies with a `<pluginRepositories>` section instead of the `<repositories>` section? (See https://maven.apache.org/guides/development/guide-testing-development-plugins.html)

[2017-08-16 10:38] earcam commented on #195
@hazendaz apologies for delay in replying (also should have linked to projects as on github/bitbucket for more info).  I've just checked the suggestion by @ctubbsii and it's working perfectly now (kudos @ctubbsii ).

Very happy.  Thank you guys

[2017-08-16 10:38] #195 closed

[2017-08-16 12:50] hazendaz commented on #195
Awesome!  Thanks for letting us know.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Caspar MacRae <notifications@github.com>
Sent: Wednesday, August 16, 2017 6:38:35 AM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Mention
Subject: Re: [revelc/formatter-maven-plugin] Repositories not checked for dependency containing formatter XML (#195)

@hazendaz<

[2017-09-15 01:25] hazendaz commented on #27
#196 solved this issue.

[2017-09-15 01:25] #27 closed

[2017-09-15 04:10] hazendaz commented on #188
This is due to the restructuring.  To fix this, the apt site pages need moved to the core of the project (I think).  I'll take care of this tomorrow.  The live site actually does have everything, navigation is what is messed up in the current flow.

[2017-09-28 22:55] ctubbsii commented on #192
Oh no. This just hit me, too.

[2017-09-28 22:58] ctubbsii commented on #35
Closing this, since it is encompassed by #133

[2017-09-28 22:58] #35 closed

[2017-09-29 02:32] hazendaz commented on #188
Looks like site was unable to build locally for a while.  Protex seems to yank more than expected from builds and didn't have some exceptions expected.  I've fixed that issue.  Also looked at our 2.0.1 release, we didn't even release the minimized files.  We picked up full files which obviously wasn't actually a problem of any sort.

[2017-09-29 03:44] #188 closed

[2017-10-02 21:30] mateusz-matela commented on #192
Hi, I'm the current owner of the Eclipse formatter.

I didn't test this, but I'm fairly certain it will be enough to change the kind argument passed to the formatter from `CodeFormatter.K_COMPILATION_UNIT`
to `CodeFormatter.K_COMPILATION_UNIT | CodeFormatter.F_INCLUDE_COMMENTS`.

According to javadoc, it was always supposed to work this way, but apparently the formatter used to ignore this missing

[2017-10-03 04:17] hazendaz commented on #63
This issue was indirectly resolved as a result of PR #109

[2017-10-03 04:39] hazendaz commented on #63
@velo ok maybe this isn't fixed yet entirely.  It no longer fails for missing setup but it actually has nothing to default back too.  The only thing I can think in the code it attempts to do is setting some compilation level items.  However, that section is not reachable code.

I suspect you are referring to this code snippit.  Can you confirm?  If so, should this apply for both java and javascrip

[2017-10-03 04:46] hazendaz commented on #192
@mateusz-matela Thank you so much!  That was the issue.  I'm applying the fix in #210 now.

[2017-10-03 04:50] #192 closed

[2017-10-05 23:04] ctubbsii commented on #192
Awesome! Now, we just need a release pushed to Maven Central :wink:
I'm willing to do that, if somebody has some release instructions. I recall a release being somewhat painful last time. I'm used to the `maven-release-plugin`, but I don't think this project currently works with that. At the very least, I can test a release candidate in the Sonatype staging repo, if that would help.

[2017-10-06 01:06] hazendaz commented on #192
I'm unable to run a local release at the moment as the new formatters tests produce different results on my machine. I assume line ending related.  I would also like to do a few extra things before that is ready.

[2017-10-06 01:06] hazendaz opened #211 "Support JSP/JSPX/XHTML with html formatter"

[2017-10-06 01:07] hazendaz opened #212 "Support WSDL/XSD with xml formatters"

[2017-10-06 01:08] hazendaz opened #213 "All skipping of java and javascript as new formatters allow for greater flexibility"

[2017-10-06 01:23] #213 closed

[2017-10-06 01:38] hazendaz commented on #63
Above code is not reachable.  Reviewed overall code.  That was set in two places.  Both were not reachable.  I have reconfigured this.  I'll open a new ticket regarding this issue.  I'm closing this one.

[2017-10-06 01:38] #63 closed

[2017-10-06 02:19] hazendaz opened #216 "Default Formatting Java/Javascript"
Original code had ability to run default formatting with eclipse with no config file and setting the compiler level for the formatters to use by default.  This was lost with @velo indicating problem in original code base merges to pickup javascript and eclipse libaries from him.  At that time we had no real solution due to some diverging usage.  Through research, it was determined it currently is

[2017-10-06 02:53] hazendaz opened #218 "Use eclipse defaults for java/javascript via useEclipseDefaults parameter"
In order to onboard using our internal configuration samples, we need to continue to support eclipse defaults for java/javascript.  By allowing ours to be present, they would always default if no files provided.  Since it's been a couple of years with the eclipse defaults broken and it was just fixed, this issue was retought some to allow ours to be true defaults given the plugin is now supporting

[2017-10-06 03:06] hazendaz opened #219 "New css, html, and xml does not read from resources"
New configurations only read directly from file.  Need to mavenize these better so we can use them from a build-tools jar or even ourselves.

[2017-10-06 03:30] hazendaz opened #220 "New css, html, and xml are not initialized and don't work"
Initializing them does cause them to work but order of events is odd.  If no file present for properties which is most likely due to it's non maven read state currently, it has already formatted at that point and just applies whatever it did.  The properties are continually read in again and again.  This would be extremely slow on large code bases as there is zero reason to keep doing that.  So it

[2017-10-06 03:34] hazendaz commented on #220
Due to current state of this, we should not push a release until this is fixed or we should entirely disable the new features so we can fix old issues.  I'll try to take some time to fix this over next week but if I don't find the time may just patch to disable for now and move on.  The default settings it uses are pretty bad.

[2017-10-14 04:52] #216 closed

[2017-10-14 04:54] hazendaz commented on #177
I'm not convienced now that we need m2e plugin solution at all.  Maven has a very simple solution by adding the requirements for m2e directly into the plugin so eclipse knows what to do.  The question then becomes what do we want it to actually do there (run on import, run on incremental and full builds, ?)

[2017-10-15 23:13] ctubbsii commented on #177
@hazendaz Can you link to some of the documentation for the solution you're referring to? I'd like to learn more about that. If it's possible to avoid the separate plugin, that's very appealing to me. I never use a plugin in Eclipse anyway. I usually set m2e to ignore execution of the Maven plugin during the build, and only run it on the command-line.

[2017-10-17 14:02] legezam opened #221 "No plugin found for prefix error."
Hi

I am trying to use the plugin as described here:
http://code.revelc.net/formatter-maven-plugin/formatter-maven-plugin/usage.html (very first example)

(The only difference is, i am adding 2.0.1 version)

And i get this error for `mvn java-formatter:format`:

[code]

Please help me.

Thanks!

[2017-10-17 16:04] hazendaz commented on #221
That doc is likely wrong.  Look in our mojo for the naming.  I can check later today but believe it is formatter:format since we renamed it.  It's no longer just for java.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Marcell Legeza <notifications@github.com>
Sent: Tuesday, October 17, 2017 10:02:09 AM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subje

[2017-10-17 20:01] legezam commented on #221
Thank you!

[2017-10-17 20:01] #221 closed

[2017-10-17 20:18] hazendaz commented on #221
@legezam I have corrected the documentation.  It should start showing up online soon.

[2017-10-18 06:12] hazendaz commented on #177
Sorry I should have posted what I found and have determined works for others that I was able to configure in a super pom.  That ignore we all do is wrong, that just tells eclipse to do nothing.  That provides ability to set the right values for what is needed.  For example, some people using googles error prone which I recently started doing figured out how to make it inherit externally what the m

[2017-10-18 21:16] ctubbsii commented on #220
I'm starting to wonder if these extra formatters should be in their own goal/mojo, rather than polluting the one for java (which is the only one I care about, personally). It might make the configuration and out-of-box behavior a bit more sane for each goal, at the cost of some slight extra complexity in configuring executions of all the plugin goals you need.

[2017-10-19 00:52] hazendaz commented on #177
@ctubbsii [here](http://www.eclipse.org/m2e/documentation/m2e-making-maven-plugins-compat.html).

So I think we really don't want our plugin to do anything for the format goal.  The verify goal we might want but not certain. Beyond that it is pretty clear that we shouldn't really be mixing m2e with our maven plugin which has been a painpoint with releasing.  I still think we need to split but need

[2017-10-19 00:53] hazendaz commented on #220
Although I never got javascript formatting even going I do see value in all these if they reasonably format in one go.  I haven't had any time to come back and look at these but hoping I get some time in the next few weeks.

[2017-10-19 01:38] ctubbsii commented on #220
Maybe a `format-all` goal would be good for formatting everything that the plugin can handle, but if a `format-java` option were available to only do java, I would prefer that, rather than execute `format` with a bunch of configuration to skip the formatting features I don't need/want.

[2017-10-19 16:00] ctubbsii opened #223 "Release 2.0.2"
I think we should release a version 2.0.2, branched from the 2.0.1 tag, but only containing the javadoc formatter fix. That fix was critical, and I don't think the other development with the additional formatters and anything else, should hold up releasing that.

[2017-10-19 16:24] hazendaz commented on #223
Sure yes let's do that.  I know it was painful to release last time.  I'll look at cutting with that fix tonight.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Thursday, October 19, 2017 12:01:26 PM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: [revelc/formatter-maven-plugin] Release 2.0.2 (#22

[2017-10-20 01:57] hazendaz commented on #219
Done but testing.  Will post something this weekend.

[2017-10-21 21:39] #218 closed

[2017-10-21 22:53] hazendaz commented on #219
Closing as #220 covers this as well.

[2017-10-21 22:53] #219 closed

[2017-10-22 02:34] hazendaz opened #227 "Move from gson to jackson for json formatting"
gson uses unix style line endings only.  As late as early 2016, they talked about being flexible.  This does not lend itself to flexibility this library needs.  Jackson has a way to accomplish this and I have written the basics to get that going.  I plan to switch over.  Additionally Jackson provides a way to intent which the current gson does not.  The initial json implementation into our library

[2017-10-22 02:56] hazendaz opened #229 "New Formatters Line Ending Handling"
Auto handling is as follows.

cssparser

- CRLF windows
- LF *nix

gson

- LF windows/*nix

jsoup

- LF windows but comments will be system default CRLF
- LF *nix

[2017-10-22 02:59] hazendaz commented on #229
The point on this one is that we need to support line endings on each box so some research needs to be performed to see what availability the various tools have.  Gson will be replaced with jackson per #227.  No solution on others yet.  One potential for jsoup was jericho but that project seems dormant.

[2017-10-22 19:52] hazendaz opened #234 "Commits after PR230 failing java/javascript builds"
Not sure of the exact cause yet.  Any commit beyond #230 is failing on hash of java/javascript but I cannot see why.  It requests to be CRLF and this hashing has been a problem for as long as we have had the merged library code.  It shouldn't be an issue at all if it is respecting CRLF.  I've tried a number of local variations to other line ending types and not getting the matching responses.  Als

[2017-10-22 19:55] #227 closed

[2017-10-22 21:50] hazendaz commented on #234
This appears to be getting 2017 on the license header which is suddenly causing this.

[2017-10-22 22:11] #234 closed

[2017-10-22 22:12] hazendaz commented on #229
gson now replaced with jackson fully supporting our needs.

[2017-10-22 22:13] hazendaz commented on #211
jsoup does not handle jsp comments properly unless wrapped again in comment which makes it rather useless.

[2017-10-22 22:33] hazendaz opened #240 "Branch cleanup"
Removed unnecessary branches leaving just the master and gh-pages.

Branches removed

0.2.x - we don't support it and it can be pulled off master if needed.
0.3.x - we don't support it and it can be pulled off master if needed.
wiki - information was available on master (changelog.md and readme.md)
master-backup - original cut before merging on javascript into codebase.  No longer necessary.

[2017-10-22 22:33] hazendaz commented on #240
Activity completed.

[2017-10-22 22:33] #240 closed

[2017-10-22 22:52] hazendaz commented on #113
Build is working fine now, closing this.

[2017-10-22 22:52] #113 closed

[2017-10-23 00:04] hazendaz commented on #223
@ctubbsii Can you check out 2.1.0.RC1 release?  You shouldn't run into any of the new formatters coming on as long as you have a proper maven build and have not otherwise told it to treat the plugin differently.  By default, it only wants to look in src/main/java and test/main/java.

As to enhancements stability at this point.

json - move forwards, it works great now that it's using jackson.

css

[2017-10-23 00:05] hazendaz commented on #220
Closing as fixed via #228

[2017-10-23 00:05] #220 closed

[2017-10-23 00:07] hazendaz commented on #194
Closing as reporter no longer needed and we handle things differently now so this is most likey partially invalid or needs re-discussed.

[2017-10-23 00:07] #194 closed

[2017-10-23 00:11] hazendaz commented on #177
@endrejeges can you try manually downloading the site and loading to eclipse?  That way is working currently.  You can find the site here on maven central [here](http://search.maven.org/remotecontent?filepath=net/revelc/code/formatter/net.revelc.code.formatter.site/2.0.1/net.revelc.code.formatter.site-2.0.1.zip)

[2017-10-23 17:20] ctubbsii opened #242 "Missing tags for recent releases?"
I was looking for the tags for recent releases 2.0.0 and 2.0.1, but they do not seem to exist.

Also, I saw that 2.1.0.RC1 was pushed to Maven Central. It also doesn't have a tag. I'd strongly advise against pushing release candidates to Maven Central. Candidates can be evaluated from the closed staging repository in Nexus. They do not need to be promoted to Maven Central to be tested, or even mar

[2017-10-23 17:21] ctubbsii commented on #223
I'll take a look today. Also, I had some thoughts about RC1 "release" on #242

[2017-10-23 18:51] ctubbsii commented on #223
Took a look at the 2.1.0.RC1 version. I'm really not a fan of it now formatting my HTML files by default when it did not do that before, and I don't want it to (and not just because it adds unwanted trailing whitespace). I really think that should have been a separate mojo/goal executed independently. It does seem to be formatting the javadocs again, which is good. But, I'll have to figure out how

[2017-10-23 20:46] ctubbsii commented on #223
I'm closing this. I don't think it's really necessary, since 2.1.0.RC1 seems to do what I want, as long as I add:
[code]

[2017-10-23 20:46] #223 closed

[2017-10-23 22:55] ctubbsii commented on #242
I think f3329e3536a8bc6c2d956962ee35a4264dbebfaa is the right commit to tag for 2.0.0:
[code]
I think 3ee98ec03f30f620e3b06422d64ce317520cc9a9 is right for 2.1.0.RC1:
[code]

I'm not 100% certain about these, but I'm even less certain of which commit corresponds to 2.0.1.

Normally these get created by the `maven-release-plugin`, but I fear this plugin's release process is more complicated, and no

[2017-10-23 23:07] ctubbsii opened #243 "[DISCUSS] Minimum Maven version?"
In order to fix a warning with Maven 3.5.0, the prerequisites section was moved to the `maven-plugin/pom.xml`. This is correct, but the property `maven.min-version` was also bumped to 3.5.0. Since that property is used in the `prerequisites`, now the plugin declares that the earliest supported version that the plugin works on is `3.5.0`.

I do not believe this is correct. There is a difference bet

[2017-10-23 23:55] hazendaz commented on #242
I'll push the tags up.  All should be on my machine still.  The m2e stuff messes up a number of things so I had used deploy to get it out.  Only prepare worked and not all that great.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Monday, October 23, 2017 6:55:37 PM
To: revelc/formatter-maven-plugin
Cc: Sub

[2017-10-24 00:19] ctubbsii commented on #242
@hazendaz Is there any way you can find the time to document how you're currently doing it?

[2017-10-24 00:37] ctubbsii commented on #242
Also, the `release:perform` goal is little more than a checkout of the tag, and a deploy, so if you can get things working with just a deploy, I'm sure we can fix the release process to make it work.

[2017-10-24 03:12] hazendaz commented on #243
@ctubbsii I think I misunderstood the purpose of the tag to start with.  Are you saying that if that is set to 3.5.0 and I try to use maven 3.3.9 to build it will stop the plugin run?  If so, that is definetly not the intention.  I was just trying to force build using maven 3.5.0 as you have assumed.

[2017-10-24 03:17] hazendaz commented on #242
The tags have been pushed up now.  The only real way to fix the build is to either learn some other process or break the plugin away from eclipse direct needs.  I can see the plugin itself getting released far more frequently now if we made that separation.  I believe there is a ticket already to do that.  I just haven't had the time.

What else is missing?  Site is recently fully generated so whi

[2017-10-24 03:30] ctubbsii commented on #242
Thanks. I see the tags for 2.0.0 and 2.1.0.RC1, but I don't see the 2.0.1, which is the one I was least sure about.

Also, if you could provide details of the issues you run into, it would be helpful for people interested in contributing. You've alluded to some brokenness with the build due to the plugin being tied to eclipse, and some linking issues, but no details. The more details you provide a

[2017-10-24 03:32] hazendaz commented on #242
@ctubbsii

I pushed to maven central as not every testing avenue has the option of easily reaching the outside.  So that is more out of necessity if I go further with testing.  I did think to call it beta but after as much testing I did this past weekend I felt comfortable with it.

I believe off a standard proper maven setup, which isn't always the case but should be that the plugin will not pick

[2017-10-24 03:40] ctubbsii commented on #243
Yeah, but it doesn't just stop the plugin from running. It fails the build entirely.

The `maven.min-version` property was serving two purposes. It sounds like you only wanted to set the `maven-enforcer-plugin` to require 3.5.0 when this plugin is built. I'm guessing we still want `prerequisites` for the plugin to be set to `3.0.5` so the plugin can be executed on older versions of Maven. Does tha

[2017-10-24 03:41] hazendaz commented on #223
@ctubbsii Separate mojo's sounds like a good solution but above works as well.  Do you think we should just flip the defaults to true on those so it doesn't run anything but the original java formatter?

[2017-10-24 03:43] hazendaz commented on #242
Sorry no offical tag on 2.0.1.  I noticed that wasn't present.  I don't recall what I did then but suspect it was not pretty and certainly did not enjoy the benefit of forcing it through the release steps like i did this time.  Surprisingly the release was actually fairly simple to pull off unlike what I expected.  Had it not went so well I would not have released it.

[2017-10-24 03:46] ctubbsii commented on #223
@hazendaz Maybe we could flip the defaults. I'm more inclined to work towards separating out the formatters into separate mojos, and letting this big one turn into a `format-all` mojo with the defaults set to run. I'll put some thought into it, and maybe put together a pull request for review if it continues to bother me. For now, it's probably fine. :smile:

[2017-10-24 03:48] hazendaz commented on #243
+1  Yes, you got it.  Please do fix :)

[2017-10-24 03:51] ctubbsii commented on #242
Heh, no worries. Just hoping to smooth out some of the bumps in this plugin's history to help encourage others to contribute and help with maintaining, so it's not all on you. :smile:

[2017-10-24 04:48] ctubbsii opened #244 "Resolve confusing license discrepancy on some modules"
The project LICENSE is Apache License, Version 2, and this project has always been Apache licensed. However, some commits made it in from @velo for the m2e-configurator stuff, that appear to be under the Eclipse Public License, 1.0.

This issue is an attempt to request permission from Marvin, as the apparent author of those commits, for the project to release and distribute those portions under th

[2017-10-24 18:41] ctubbsii commented on #153
Closing. 2.1.0.RC1 is in Maven Central now.

[2017-10-24 18:41] #153 closed

[2017-10-24 18:49] velo commented on #244
Hey @ctubbsii what files are you talking about?!

I manually checked some and they are ASL2

[2017-10-24 22:01] ctubbsii commented on #243
So, I started looking at this... I may be opening a few new issues as follow up... but I wonder if you might be available for a Google Hangouts or Skype call some time, just to discuss potential plans forward. Sometimes voice-to-voice is easier for coordinating/collaborating than written word.

[2017-10-24 22:04] ctubbsii commented on #244
Hi @velo ; I'm referring to:
* m2e-configurator/net.revelc.code.formatter.feature/license.html
* m2e-configurator/net.revelc.code.formatter.feature/feature.properties
* m2e-configurator/catalog.xml

I'm actually not even sure what that catalog.xml file is for. I can't figure out how it's being used at all.

[2017-10-24 22:17] velo commented on #244
Ow, absolutely, got for it.  All the code is ASL, no reason for this files to be anything else.

`catalog.xml` may not be in use at the moment.

[2017-10-24 22:18] ctubbsii opened #245 "Remove builds of jdt-core and jsdt-core from formatter-maven-plugin builds"
`jdt-core` does not appear to need to be built any more, since Eclipse is now publishing that directly to Maven Central. We should be able to use:

[code]

Eclipse is not yet publishing `jsdt-core` to Maven Central, but I have asked about it on https://bugs.eclipse.org/bugs/show_bug.cgi?id=484004 and in the meantime, we can use a previous version we've published:

[code]

This does not need to be

[2017-10-25 20:33] ctubbsii commented on #245
Eek, I just noticed a bigger problem with this. These Eclipse artifacts are EPL licensed, but we're repackaging and redistributing them under AL2. That is a big problem. If we're going to redistribute these, they should be under their original license. This is another reason why these should be moved to their own repos.

[2017-10-26 02:22] hazendaz commented on #245
I've had my local coded against jdt.core for a while now.  I had been hesitent to move on that as things seemed a bit unstable.  Version 3.12.3 is the neon copy and it's much more stable now.  I can bring that right in.  I don't have any problem dropping what we can from the formatters piece.  Ultimately all that is doing is trying to go to the core builds and build from there.  I wouldn't drop ba

[2017-10-27 16:41] #244 closed

[2017-10-27 16:41] #245 closed

[2017-10-27 18:50] ctubbsii opened #249 "Remove rultor"
rultor appears to be a helper bot for CI systems to help with releases

I don't think this is needed. Releases are simple enough with maven-release-plugin, and I wouldn't want a bot pushing releases on behalf of this community. The repo seems to have some credentials for rultor saved. I don't think we should rewrite git history to get rid of that, but they should be deleted if they aren't being us

[2017-10-27 18:50] ctubbsii opened #250 "Remove maven wrapper stuff"
I'm not convinced the maven wrapper stuff is helpful for anything. I think it can be removed, since it just seems to add clutter.

Please correct me if I'm wrong.

[2017-10-27 21:51] hazendaz commented on #250
It's used on Travis ci

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Friday, October 27, 2017 2:50:52 PM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: [revelc/formatter-maven-plugin] Remove maven wrapper stuff (#250)

I'm not convinced the maven wrapper stuff is helpful for anything. I think it

[2017-10-27 23:34] #243 closed

[2017-10-27 23:51] ctubbsii commented on #250
Right, but it doesn't have to be used there. Travis has maven, and doesn't need a wrapper for it.

[2017-10-28 00:27] ctubbsii commented on #242
Found a commit that was basically 2.0.1, so I made a tag and pushed it.

[2017-10-28 00:27] #242 closed

[2017-10-28 00:33] ctubbsii commented on #243
I did a release (2.5.0) for this. I noticed something weird when I did: the release:perform task created two staging repos in Nexus. One had only 2 files, one called simply 2.5.0 and the other called LATEST, as `net/revelc/code/formatter/net.revelc.code.formatter.feature/2.5.0/N/2.5.0/2.5.0` and `net/revelc/code/formatter/net.revelc.code.formatter.feature/2.5.0/N/2.5.0/LATEST`

Very strange. oss.s

[2017-10-28 03:26] ctubbsii opened #251 "Version 2.5.0 shows repeated warning about transferring takari"
Running the formatter-maven-plugin version 2.5.0 is generating some warnings in my builds. It doesn't seem to affect formatting at all.

I'm hoping there's an easy fix, because it seems to be related to the eclipse/tycho/takari stuff, which I don't understand very well.

[code]

[2017-10-28 08:12] #249 closed

[2017-10-28 08:12] #250 closed

[2017-10-28 08:12] #154 closed

[2017-10-28 08:12] #251 closed

[2017-10-28 08:14] ctubbsii commented on #177
This issue can be closed now, since this repo no longer contains the m2e-configurator code. That has moved to https://github.com/revelc/formatter-m2e-configurator and should be addressed there in a new issue.

[2017-10-28 08:14] #177 closed

[2017-10-28 12:40] hazendaz commented on #250
For 3.5.0 it does.  They run 3.2.5 still.  It's intended to use newer versions.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Saturday, October 28, 2017 4:12:17 AM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Comment
Subject: Re: [revelc/formatter-maven-plugin] Remove maven wrapper stuff (#250)

Cl

[2017-10-28 12:44] hazendaz commented on #243
I had the same issue.  I deleted the empty one not knowing why it was there.  I had not seen that before.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Friday, October 27, 2017 8:33:50 PM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Comment
Subject: Re: [revelc/formatter-maven-plugin] [DISCUSS] Min

[2017-10-28 12:44] hazendaz commented on #242
Great thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Friday, October 27, 2017 8:27:16 PM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Mention
Subject: Re: [revelc/formatter-maven-plugin] Missing tags for recent releases? (#242)

Closed #242<https://github.com/revelc/formatter-maven-plugin/iss

[2017-10-28 16:07] ctubbsii commented on #250
I see. The build works fine on what they have, especially after the recent simplifications, so I think it's okay to leave it out. I think it's more important to keep the repo clear of clutter, for potential contributors and users, than to build with latest Maven on optional CI service.

[2017-10-28 19:48] hazendaz commented on #250
Other purpose is that it means you don't actually need maven installed to build our project.  The wrapper serves the purpose of retrieving maven if missing.  This was built as a result of gradle doing something similar with their own wrapper.

[2017-10-28 19:48] hazendaz commented on #250
btw - I got a chance to look over everything you have been doing.  Awesome Job!

[2017-10-28 20:04] ctubbsii commented on #250
I think it's probably okay to assume that Maven is installed, as a prerequisite. That's pretty normal. Anybody building, or using this project will be doing so specifically because they are already working with Maven projects.

And, thanks for the positive feedback. I'm a bit uncertain at some points where there's multiple paths forward... because I don't want to be seen as "taking over" or doing

[2017-10-28 20:07] hazendaz commented on #250
All good here.  Peronsally I like the workflow of always creating PR even if self merged.  I thinks its just good practice as it puts it out there plus confirning the CI builds work.

I think now we are ready to move to oxygen officially ;)  I'm going to send a few PRs once I get everything setup.  I'm forking all the new repos plus forked your impsort.  Thanks.

[2017-10-28 20:13] ctubbsii opened #254 "Create separate mojos/goals for separate formatters"
This is something I've been thinking about for awhile, and convinced it will be beneficial for users, to simplify configuration and satisfy a variety of user needs.

I think the existing mojo which formats everything is fine, but I think we can also create mojos which are more limited in scope, such as a `format-java`, `format-javascript`, `format-xml`, etc. goals. This will allow language-specifi

[2017-10-28 20:14] ctubbsii opened #255 "Update for Eclipse Oxygen"
I'm not even sure if the formatter changed at all between Neon and Oxygen... but either way, we should update to the latest jdt-core dependency and formatter, so it's available to users.

[2017-10-28 20:17] hazendaz commented on #254
+1

[2017-10-28 20:38] hazendaz commented on #255
I ran a test on good sized project.  At least for java code, no changes.  Not sture on javascript as I still have yet to use that formatter.

[2017-10-28 20:52] ctubbsii commented on #255
If there's no significant changes, a minor version bump would probably be best. Probably to 2.7.0.

I wouldn't worry about the javascript one that much. I doubt it's getting more active maintenance than the java one.

[2017-10-29 22:26] #255 closed

[2017-10-29 23:08] ctubbsii commented on #255
@hazendaz Please, don't forget to push the tag corresponding to the release :smile:

[2017-10-29 23:31] hazendaz commented on #255
What are the tags not auto pushing?  That usually happens with release plugin, are we missing a setup?  I'll push it now.  Thanks.

[2017-10-29 23:36] hazendaz commented on #255
I'm guessing one of those settings changes on release.  I checked another repo of mine to be sure.  OK all pushed now.

[2017-10-30 00:26] ctubbsii commented on #255
It's bad to auto-push tags on release, because:

1. It can't be reviewed first, and it's bad form to delete git tags after pushing to a shared space, because of the way git tags are treated as "universal" and names should not be reused; this is particular important in communities which vote on release candidates before releasing, and
2. The tag that is created is not a GPG-signed tag, which many p

[2017-10-30 00:28] ctubbsii commented on #255
Oh, a third reason is that it allows for testing the release process itself.

[2017-11-02 15:57] pit3k opened #258 "Wrong version of org.eclipse.jdt.core used"
The version of `org.eclipse.jdt.core` used in the oxygen release of the plugin is incorrect. It should be 3.13.50.v20171007-0855 instead of 3.13.0. For us this causes formatting of some enums to fail (probably a known bug in older jdt). For example:

[code]

[2017-11-02 16:06] ctubbsii commented on #258
I think we were trying to target the "official" artifacts deployed by Eclipse, but it's not clear which ones those are. Their documentation is very poor, and they aren't publishing everything they should be yet.

The version you mention is under a different groupId. Is that what the Eclipse group is publishing as now? It's hard to keep track.

[2017-11-02 18:30] pit3k commented on #258
I'm not sure what is the best official source documents listing plugin versions included in given Eclipse release. I've simply checked what is inside freshly installed Eclipse Oxygen, by going to Help -> About -> Details -> Plugins. I'm also not sure if the tycho group is the official one now.

However, I've verified that bumping this version solved the differences we observed between formatting d

[2017-11-02 21:39] #258 closed

[2017-11-17 01:37] ctubbsii opened #260 "Failure using Oxygen.1a version (2.7.1): "Workspace is closed." error"
I tried to run the 2.7.1 version with the patch from #259 on Apache Fluo, but there is a problem. It results in the following error about "Workspace is closed." Googling for this error results in a hint that there may be some problem with the MANIFEST.MF in the JDT dependency. Version 2.7.0 works fine, which uses the org.eclipse.jdt version of jdt-core 3.13.0, instead of the version from org.eclip

[2017-11-17 01:58] hazendaz commented on #260
Interesting.  I was trying to create a plugin last year to auto add javadocs using jautodoc.  I gave up with teh same error you see here.  Now that makes me want to go back and review all the dependencies I was using to see if I can actually make that work.

On a side note, running into some other issues.  I configured the plugin to work with m2e and it causes lots of issues right now with what I

[2017-11-24 16:18] hea3ven opened #261 "Running formatter:format goal in a multimodule project skips all submodules"
I've been trying to configure the formatter plugin for a multimodule project, the thing is that I don't want to integrate it to the project's lifecycle, I just want to be able to run it manually. The problem is that when I run `mvn formatter:format`, all the submodules are skipped and no formatting is done, if I instead run the goal in a specific project `mvn -pl <submodule id> formatter:format`,

[2017-11-24 20:21] hazendaz commented on #261
I was able to confirm in another project that this in fact does fail to properly run when issued directory as indicated here.  If I run with normal build cycle, formatter works fine in all modules.  In my example I have 22 modules that nest pretty deep in some cases.

@hea3ven Thanks for the report.  What I would suggest though is just integrating this into your build.  Once you have done so, its

[2017-11-25 03:36] ctubbsii commented on #261
@hea3ven `mvn formatter:format` does not execute any part of the maven build lifecycle which is multi-module aware. It simply executes the formatter plugin directly. Instead, try executing as part of a maven lifecycle which is multi-module aware, such as: `mvn clean formatter:format` or `mvn compile formatter:format`.

I highly recommend reading more about Maven lifecycles and plugin execution at:

[2017-11-25 03:39] hazendaz commented on #261
@ctubbsii

Clean does not work since that is not the cycle this is in.  Compile does.  This still seems weird solution.  Most other plugins I've always seen just run the plugin name.  Is this something we can enhance?

[2017-11-25 04:13] ctubbsii commented on #261
@hazendaz I didn't think it would matter which lifecycle the plugin normally executes in, since the plugin is being executed directly, and not part of a lifecycle. What matters is that the reactor build plan has been set up to execute the specified lifecycles/goals, and both the clean and default lifecycles should prepare a reactor build. So, I'm not sure why the clean lifecycle wouldn't work, but

[2017-11-25 04:15] hazendaz commented on #261
Yes `mvn compile formatter:format` does work.  With 'clean' it does not.  I tested that much on your feedback.  It is suffficient for a work around but now questioning if we can make it work better.  Are you thinking if the requires project is true it might?  I can test that shortly.

[2017-11-25 04:25] ctubbsii commented on #261
`requiresProject = true` is default. I tested `impsort-maven-plugin` on a multi-module project and it worked on all modules. So, if formatter isn't working, it could be that. If it is, then we're going to have to decide which behavior we want more: formatting outside of projects or more intuitive handling of multi-module projects, because we might not be able to have both.

The other thing it coul

[2017-11-26 00:13] hazendaz commented on #261
@ctubbsii What does it mean to execute outside of a project?  I don't understand that.

I tested 'requires_project = true', that fixes the issue entirely.

[2017-11-26 04:23] ctubbsii commented on #261
Executing outside of a project means Maven is used to resolve plugin dependencies and execute the plugin code, but it can be executed from any directory, not just one containing a valid pom.xml file. This would be useful, for example, if you wanted to do a one-time format of code in an ant project. It's also used by things like the jetty maven plugin, to run a jetty server which serves a war, but

[2017-11-30 02:08] hazendaz commented on #261
Ah so this all makes sense now.  Sort of wish maven handled both appropriately.  But now I understand why it did nothing for user here.  Internally we are telling it the source package locations.  So if it doesn't have src/main/java and same on test side, it won't actually format anything as indicated and that would be expected given how that actually works.

I'm not sure if the way it is possible

[2017-11-30 02:58] ctubbsii commented on #261
I've been kind of wanting to try adding the snippet above to add the MavenProject variable, rather than making the requiresProject true, just to see if that would work. My theory is that it might create a sort of "soft" dependency on the project, triggering Maven to resolve the project if it is run within a project. I'm not actually sure, though, since I've been hit with some sort of seasonal illn

[2017-12-01 16:54] wborn commented on #260
For me the issue only occurs when formatting Java code with comments that contain HTML. It occurs for instance when formatting the following file:

[code]

An easy way to reproduce it is by adding a test to `JavaFormatterTest.java` that tries to format a file with this content.

The issue seems to be introduced by the changes for:

In this commit `DefaultCodeFormatter.java` also tries to `parseSou

[2017-12-01 22:48] ctubbsii commented on #260
@wborn Thanks for investigating this. Do you know if there's an upstream bug already open regarding this? It seems like there's going to need to be if we want to avoid requiring the use of one of these workarounds long-term.

[2017-12-02 09:30] wborn commented on #260
@ctubbsii There is no known upstream issue that I am aware of.

But I have found a better workaround for this issue by disabling HTML formatting from within the configuration by updating the following two parameters to false:

[code]

This way you don't have to touch any code and can simply change the parameters to true when the issue us fixed. :slightly_smiling_face:

[2017-12-04 02:09] ctubbsii commented on #260
It's good to have a lot of workarounds, so thanks for the ideas. However, if upstream doesn't know about the issue, then it's not ever going to be fixed.

@wborn , you seemed to have the most complete understanding of why it's happening. If you wouldn't mind creating an upstream issue at the Eclipse bugtracker at https://bugs.eclipse.org/bugs, I would very much appreciate it. If you don't have an

[2017-12-04 10:38] wborn commented on #260
@ctubbsii I've submitted the following issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=528085

[2017-12-12 13:03] hea3ven commented on #261
Thanks for the feedback. I tried both options and injecting the Maven project into the mojo didn't seem to do anything. But setting requiresProject did make it work as expected:
[code]

I think having the project-less formatting in a separate command would be useful to publicize the feature, otherwise, I don't know how anyone would have known this feature existed.

[2017-12-12 21:50] ctubbsii commented on #261
I think setting requiresProject = true would be good for this mojo. Another mojo could be called "format-directory" with requiresProject = false, and with fewer assumptions about which directories are being formatted (src/main/*), more required parameters for non-project executions.

[2017-12-20 18:40] hinchliff opened #263 "Incorrectly formats XML files with DOCTYPE statements"
See RENCI-NRIG/orca5#176

[Example diff](https://github.com/RENCI-NRIG/orca5/commit/0ff070ee9df1293f74b9f16e26f2b33f0f38a71e#diff-6d0ca63a6a8548b23def2bbe58b2cbfd)
[code]

[2017-12-20 18:52] hinchliff commented on #263
I guess this may be entirely a jsoup problem, without a known solution? https://stackoverflow.com/questions/31164415/how-to-preserve-doctype-declarations-when-manipulating-xml-with-jsoup

[2017-12-20 22:19] hazendaz commented on #263
It is.  Only the java, JavaScript, and json are stable for usage right now.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: hinchliff <notifications@github.com>
Sent: Wednesday, December 20, 2017 1:52:28 PM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: Re: [revelc/formatter-maven-plugin] Incorrectly formats XML files with DOCTYPE statements (#263

[2017-12-21 16:45] pierrefevrier commented on #260
Hi, I have the same problem, when do you plan to release v2.7.2 ?

[2017-12-21 16:55] ctubbsii commented on #260
As soon as upstream fixes the bug, we can do a release.

[2017-12-24 09:17] jmini commented on #260
In order to help with the upstream issue in the Eclipse bugzilla, I have added a simple class with a `main` method that reproduces the problem: [MainFormatter.java, see Comment 3](https://bugs.eclipse.org/bugs/show_bug.cgi?id=528085#c3)

For my tests, I have used the latest jdt version available on Maven Central:

    <dependency>
      <groupId>org.eclipse.jdt</groupId>
      <artifactId>org.ecli

[2017-12-24 19:43] nenadalm opened #264 "Ony modified files are formatted"
Hi. When I run ```$ mvn formatter:format``` nothing happens, but when I add comment to a file and run the goal again, whole file is suddenly reformatted. Is there any way to format all files?

Config:
[code]

[2017-12-24 19:46] nenadalm commented on #264
When I reverted reformatted file and run ```$ mvn formatter:format``` again - it reformatted the file properly. But there are still some files in my project which are not formatted properly. Maybe some kind of cache?

[2017-12-24 19:53] hazendaz commented on #264
try 2.7.0 and see if that makes any difference.  There are some known issues with 2.7.1 and ecipse itself so that would vet out the issue.  I've never run into it not formatting files.  I however, also have an execution always setup and it runs as part of all builds in my case.  If even 2.7.0 is causing same issue, then try running some cycle like mvn clean install formatter:format

[2017-12-24 19:59] nenadalm commented on #264
So it looks like Eclipse problem. I exported xml config from Eclipse as described in docs, then run `$ mvn formatter:format`, commited modified files. When I edited some with spaces indentation, Eclipse saved it as indented with tabs (when then running ```$ mvn formatter:format```, it preserved tabs).

I found that Eclipse was setup with mixed indentation, but onSave hook converted spaces to tabs.

[2017-12-24 19:59] #264 closed

[2018-01-05 16:03] wmarkow opened #265 "Support C/C++ formating from Eclipse CDT"
It would be good to format C/C++ code as well. [Eclipse CDT](https://www.eclipse.org/cdt/) can be used as a C/C++ development IDE. It has already a formatter that seems to work in a similar way like for standard Java development.

I think it could use the **CodeFormatter** class from **org.eclipse.cdt.core** jar. At the beginning it could format the following files:
 * .c .h .cpp a standard C/C++

[2018-01-08 14:09] ctubbsii commented on #265
I think this would be useful, but it would probably have to run outside of a Maven project, since most C/C++ projects don't use Maven to build. Running outside of a Maven project is being discussed as problematic on #261 , but it may be possible to create a separate mojo for formatting C/C++ code outside of a project.

[2018-01-08 14:11] ctubbsii commented on #261
Setting `requiresProject = true` would likely conflict with the feature request in #265, but a separate mojo would still address the problem. I think this mojo should be deprecated, and replaced with a `formatDirectory` (with `requiresProject = false`) and `formatProject` (with `requiresProject = true`).

[2018-01-10 07:46] jmini commented on #260
This issue was fixed in the upstream project with commit: https://github.com/eclipse/eclipse.jdt.core/commit/41b609123705d8e31de5555a8c4ed6a6ac0229b6

I think that the fix will be published with the [Oxygen.3](https://wiki.eclipse.org/Oxygen/Simultaneous_Release_Plan#Oxygen.3) release in March 2018. Around after this date, a new version should be available on maven central.

[2018-01-16 08:22] smatei opened #266 ""Class or interface declaration" (org.eclipse.jdt.core.formatter.brace_position_for_type_declaration) does not work with "next line""
I have set the "Class or interface declaration" formatting preference to "next line" in eclipse, and exported it to a multi-module "build-tools" src\main\resources\eclipse\formatter.xml. When compiling the project with maven I get the following output, that tells me that my file Test.java is formatted (I am on Windows 10 64 bits, and use JDK build 1.8.0_151-b12 on 64 bits, with maven 3.5.0).

		$

[2018-01-16 13:48] hazendaz commented on #266
Try dropping back to version 2.7.0.  There are known issues in 2.7.1 waiting on eclipse fixes.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Stefan Matei <notifications@github.com>
Sent: Tuesday, January 16, 2018 3:22:10 AM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: [revelc/formatter-maven-plugin] "Class or interface declaration" (org.eclips

[2018-01-16 18:05] wmarkow commented on #265
I did some job on embedding Eclipse CDT into **fromatter-maven-plgin**. Some commits are available in my [cdt_#265](https://github.com/wmarkow/formatter-maven-plugin/commits/cdt_%23265) branch.

There are some issues with Eclipse CDT formatter:
 * i wasn't able to find **org.eclipse.cdt.core** jar in Maven repository, so I have used the **com.googlecode.maven-download-plugin:download-maven-plugin*

[2018-01-17 10:05] smatei commented on #266
The problem is not with the version. I went back to version 2.5.0 and no luck. Then I executed maven in verbose mode "mvn clean compile -X" and saw the problem "eclipse/formatter.xml not found"

 		[DEBUG] The resource 'eclipse/formatter.xml' was not found with resourceLoader org.codehaus.plexus.resource.loader.FileResourceLoader.
		[DEBUG] URLResourceLoader: No valid URL 'eclipse/formatter.xml'

[2018-01-17 17:59] ctubbsii commented on #266
Are you sure that file exists in the build-tools dependency? (e.g. `jar tf build-tools.jar | grep eclipse/formatter.xml`)

[2018-01-18 07:14] smatei commented on #266
The file exists, this is the output of your search command

		stefan@StefanPC MINGW64 /d/_git/parent/build-tools/target
		$ jar tf build-tools-0.0.1-SNAPSHOT.jar | grep eclipse/formatter.xml
		eclipse/formatter.xml

I still get the error in verbose mode (mvn clean compile -pl utils -X) when compiling my project

		[DEBUG] Config file [eclipse/formatter.xml] cannot be found
org.codehaus.plexus.reso

[2018-01-18 13:54] hazendaz commented on #266
I haven't look at your zip but sounds like you created a jar with the contents in same project you are attempting to use the jar.  If I'm correct on that, it's not going to work from that jar unless you physically make the project dependent on that jar so it gets built first by the reactor, is installed, and then can be used.  Generally a jar usage is entirely separate project.  Can you confirm if

[2018-01-18 16:59] ctubbsii commented on #266
I took a look at the zip file. In it, you are using:

[code]

The contents of that jar are:

[code]

There is no `eclipse/formatter.xml`

If you wish to use that jar's formatter, you'll have to specify it correctly (such as `eclipse-formatter-config-4space.xml` instead of `eclipse/formatter.xml`). If you wish to use your own formatter from your own build-tools artifact, you'll need to ensure your

[2018-01-19 09:10] smatei commented on #266
Now I get it. The example was confusing. It was defining a build-tools and it was using another build-tools as dependeny. I have a pull request with the fix so that it is not confusing any more.

[https://github.com/revelc/formatter-maven-plugin/pull/267](https://github.com/revelc/formatter-maven-plugin/pull/267)

[2018-01-19 18:55] hazendaz commented on #266
See my comment on pull request.  I dont see any clarity by referencing another jar.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Stefan Matei <notifications@github.com>
Sent: Friday, January 19, 2018 4:10:53 AM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Comment
Subject: Re: [revelc/formatter-maven-plugin] "Class or interface declaration" (org.ec

[2018-01-19 22:24] #266 closed

[2018-01-25 22:23] ctubbsii commented on #260
It looks like the version of the JDT core jar will be 3.14.0, so anything newer than that should have the fix.

[2018-01-31 16:16] mithuns opened #268 "How to get the pom itself to be formatted ?"
I am able to apply this on the source files, but for a maven project, how to make sure the pom itself gets formatted correctly , when I do mvn install ?

[2018-01-31 16:21] mithuns commented on #30
Is this planned in a later version, if it is marked as an enhancement ? I was going to ask for the exact same thing, good thing I searched through the closed issues.

[2018-01-31 20:27] ctubbsii commented on #268
I recommend the sortpom-maven-plugin for that. It's aware of more than just XML formatting and actually understands the semantics of Maven POM files.

[2018-02-01 01:10] hazendaz commented on #268
I also like the tidy-maven-plugin.  Either way both better ways to format poms.  While this project does have some xml formatting to it, the underlying formatter isn't that good so it's not yet ready for any real usage and it would probably never be that aware of maven formatting needs.

[2018-02-01 02:17] mithuns commented on #268
I am not sure if sortpom can actually format pom, from all the documentation , it just seemed like it only has two goals,

- sort will sort dependencies
- verify goal would just verify if everything was already correctly sorted.

Have asked here [58](https://github.com/Ekryd/sortpom/issues/58).
So, we will see.
I can try the tidy-maven-plugin.

Is there a desire to make this enhancement here , so

[2018-02-01 04:12] hazendaz commented on #268
I wouldn't for pom sorting.  The other two do it well enough.  It's far more than formatting in that case.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mithun <notifications@github.com>
Sent: Wednesday, January 31, 2018 9:17:43 PM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Comment
Subject: Re: [revelc/formatter-maven-plugin] How to get the pom i

[2018-02-01 05:00] ctubbsii commented on #268
@mithuns sortpom and tidy-maven-plugin both format... it may not be the format you prefer for xml generally, but it's a format that makes sense for a POM file with its specific semantics. I use sortpom exclusively, and have not tried the tidy one, but it looks good, too, and I've heard good things. Sortpom has some controls over line endings, wrapping, and indentation, but they're pretty basic. Mo

[2018-02-01 07:07] ctubbsii commented on #268
To answer the original question... which I *do not recommend*, since the sortpom or the tidy plugin are more suited for POMs, you can probably get this plugin to format the POM by setting `sourceDirectory` to `${project.basedir}` (the default is `${project.build.sourceDirectory}`, which evalutes to `${project.basedir}/src/main/java`), and by setting `includes` to just `pom.xml`.

I have not tried

[2018-02-02 12:16] ctubbsii commented on #260
Here's a [link][1] to the Maven Central search results to more easily check for when the updated version is published. (Saves me from periodic manual searching.)

[1]: http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.eclipse.jdt%22%20AND%20a%3A%22org.eclipse.jdt.core%22

[2018-02-14 12:53] donovanmuller opened #269 "'tabulation.char=space' is not honoured and not formatted with spaces"
Using the following plugin configuration:

[code]

and the attached Eclipse formatting file [`eclipse-code-formatter.xml.txt`](https://github.com/revelc/formatter-maven-plugin/files/1724009/eclipse-code-formatter.xml.txt) with the 'Tab policy' set to 'Spaces only':

[code]

![screen shot 2018-02-14 at 14 48 54](https://user-images.githubusercontent.com/1175891/36205109-3d228412-1196-11e8-9d32-ee51

[2018-02-14 14:49] ctubbsii commented on #269
Have you tried that configuration file in Eclipse directly? This plugin uses the Eclipse formatter and should format exactly as Eclipse would. I think the problem might be that Eclipse won't necessarily change whitespace unless there's another formatting change also required. I could be wrong about that.

[2018-02-14 15:14] donovanmuller commented on #269
Yes, Eclipse formats as expected:

![eclipse-format](https://user-images.githubusercontent.com/1175891/36211620-67b01442-11aa-11e8-88ec-4e10f4e77178.gif)

[2018-02-14 15:37] ctubbsii commented on #269
Oh, I think I might know what's happening. I think it's not using your plugin configuration correctly, because it's not being executed as part of a maven build lifecycle. This is the same issue as #261 . Try running `mvn clean formatter:format` or `mvn compile formatter:format` instead of just `mvn formatter:format`.

Also, since you're just using `formatter` to refer to the plugin, I assume you'r

[2018-02-15 19:54] donovanmuller commented on #269
@ctubbsii Running as part of a lifecycle worked. Tried it with `mvn clean formatter:format`

Thanks

[2018-02-15 19:54] #269 closed

[2018-02-16 10:06] victornoel opened #270 "validate does not check all the files at once"
When I run the `validate` goal, it fails at the first problematic file instead of showing me all the files that fail.

If the objective is to use it in the CI for example, this is very limiting to only show one error…

[2018-02-16 12:40] victornoel commented on #261
I couldn't make this work even with `mvn compile formatter:validate`: maven insists on executing validate only for the aggregator module and not for the submodules, even though it does execute `compile` for them.

Can someone confirm they can make this work with the workaround?

[2018-02-16 13:48] hazendaz commented on #270
Not really.  It simply means formatting was not run.  So when CI fails, developer should run a proper build and commit the result which may be many files.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Victor Noël <notifications@github.com>
Sent: Friday, February 16, 2018 5:06:55 AM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: [revelc/formatter

[2018-02-16 15:25] victornoel commented on #270
I understand that, but it would be nicer if we could get all at once: even locally, it is tedious to run `validate` one file per one file to correct each of them.

It is not always possible to use eclipse's formatting on a whole project, for example if one configure some exclusions from the validation.

[2018-02-18 03:49] ctubbsii commented on #261
@victornoel I suspect there's something else going on in your project. Do you have an example project which demonstrates the problem?

[2018-02-18 17:23] victornoel commented on #261
@ctubbsii you right: I didn't add the `execution` for the `validate` goal in the plugin configuration. It is was on purpose (I was expecting that calling the goal explicitly would be enough) but I understand why it didn't work then. I suppose you have to add it. thanks

[2018-02-19 03:05] ctubbsii commented on #261
Ah yes. That's another way to make it behave as though it's not part of a project build. If we set require project to true, then it probably would have worked the way you expected.

[2018-02-26 09:41] yash-tib opened #271 "Maven Install Does Not Remove Spaces in Block Comments"
I have set up the maven-formatter-plugin (v2.7.0) to format and validate our repo with the following comments related rules -

[code]

Upon validate, the build fails if there is a block comment with an empty line containing a single space. eg :-

[code]

However, the maven format goal during ```mvn clean install``` does not format this particular case. All other cases are formatted properly. Intel

[2018-02-26 14:06] hazendaz commented on #271
There is a bug in eclipse.  Try source clean up  in eclipse without this plugin.  You will notice it toggles between space and no space.  I'm not sure how we can fix that.  It's part of eclipse source cleanup rather than formatting.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Yash Tibrewala <notifications@github.com>
Sent: Monday, February 26, 2018 4:41:

[2018-02-26 16:37] ctubbsii commented on #271
This bug in Eclipse has been a long frustration of mine, and I've not found good workarounds. One good thing is that if you delete the spaces in Javadoc comments, they won't be re-added. However, in block comments (non-Javadoc), they do tend to reappear. I have in the past used multiple inline comments instead of block comments as a workaround, but that's not the best option.

In your example, you

[2018-02-26 18:45] ctubbsii commented on #265
@wmarkow It sounds like you've made some good progress. I think before this would be ready for a pull request, I'd want to see the relevant CDT jars for formatting be published to Maven Central, and for it to better support formatting outside of an Eclipse CDT project.

[2018-02-27 04:31] yash-tib commented on #271
Thanks for your replies.

But essentially what I am trying to convey is that the validate goal is failing the build if a space exists in the comment. But the format goal does not correct this behaviour so that the validate goal can pass. Is this the defined behaviour? Because while the space might have been introduced by eclipse sometime in the past, on my current machine I am running IntelliJ, so

[2018-02-27 05:55] ctubbsii commented on #271
@yash-tib I think you're misunderstanding the responses regarding Eclipse. This plugin uses the Eclipse formatter internally, so if Eclipse would have reintroduced a space, then this plugin does as well, whether or not you yourself are using Eclipse.

That said, there may be something else going on here... I've never seen the validate goal fail if the format goal did not make any changes. How are

[2018-02-28 06:18] yash-tib commented on #271
@ctubbsii

We are using the following config in our maven file -

`
  <properties>
     <maven.formatter.version>2.7.0</maven.formatter.version>
     <maven.xml.formatter.version>3.0.6</maven.xml.formatter.version>
     <eclipse.lifecycle.mapping.version>1.0.0</eclipse.lifecycle.mapping.version>
     <java.coding.standard.version>2017.1</java.coding.standard.version>
     <xml.indent.size>2</xml.i

[2018-02-28 11:28] wmarkow commented on #271
Could you please post the Maven output, so we could see what is the error message? If you run Maven with **-X** option, it will output more debug information on what is going on.

[2018-03-01 17:27] bryceChernecki commented on #261
I was able to get the workaround `mvn compile formatter:validate` to execute. Is there a way when running `mvn compile` to have it skip this execution to have it fit nicer into our CI environment? Something like `-DSkipTests`? The reason is we don't want compilation issues getting mixed in with formatting issues. (We have explicit Jenkins Stages to clarify what went wrong with the build)
Thanks

[2018-03-01 17:46] ctubbsii commented on #261
You could put the validation in a profile, which is active normally (based on presence of `pom.xml` file or something), but can be explicitly disabled with `-P!validateFormattingProfile` in CI.

[2018-03-01 17:59] bryceChernecki commented on #261
@ctubbsii thanks I'll give that a try.

I've noticed something as well. When `mvn compile formatter:validate` it appears (at least for me) to be reporting validation of the sub modules but not actually validating them. My test case is below

# explicitly violate formatting in file in sub-module
# run `mvn compile formatter:validate` from root (get described results above -- all passing ??)
# CD to

[2018-03-01 18:07] ctubbsii commented on #261
@bryceChernecki That sounds like an entirely new issue. Can you create an example project which demonstrates this bug, so I can take a look?

[2018-03-01 18:14] plum117 opened #272 "Remove unused import"
Since the plugin revelc/impsort-maven-plugin only sort import and do not remove unused import (already asked and was refused), can this one can remove unused import?

Thanks

[2018-03-01 22:49] ctubbsii commented on #272
Reference impsort-maven-plugin#5

[2018-03-01 22:55] ctubbsii commented on #272
This plugin's ability to format files is limited to the features built in to the Eclipse JDT formatter for Java formatting, since that's the underlying library it uses to format. It may be helpful to [look at the configuration constants in the JDT source code][1] to get more information about what configuration options are available. However, I don't think removing unused imports is one of them, s

[2018-03-01 22:58] ctubbsii commented on #272
See also #32

[2018-03-18 13:42] plata opened #273 "validate seems to execute "format" goal"
I'm pretty sure this is a configuration issue in my pom.xml but I cannot find the error.

I want to check if everything is formatted in my CI. Therefore, I have added a profile which runs the "validate" goal. However, if I change a file and then run `mvn -Pcheck-formatted validate formatter:validate`, it succeeds and the file is formatted.

see PhoenicisOrg/POL-POM-5#1199

[2018-03-18 14:13] #273 closed

[2018-03-27 08:54] jmini commented on #260
Now that Oxygen.3 is out, I have [asked](https://dev.eclipse.org/mhonarc/lists/jdt-dev/msg00992.html) on the JDT Mailing list when the artifact will be published on Maven Central.

[2018-03-29 22:20] #260 closed

[2018-03-29 23:11] #268 closed

[2018-03-29 23:13] ctubbsii commented on #260
Version 2.7.2 of this plugin is now tagged and also released to Maven Central. Website has also been updated to reflect this.

[2018-04-03 04:00] yash-tib commented on #271
@ctubbsii Thanks for the clues, I will keep this in mind. We ended up fixing the issue by removing all the block comments with spaces in our codebase. Since then we have not been able to reproduce the issue. I am hence closing this issue and will reopen it if we face any trouble in the future.

Thanks for all the help! :)

[2018-04-03 04:00] #271 closed

[2018-04-10 07:39] schuettec commented on #261
Hey guys, whats up with this one?

I have the same problem. I'm trying to setup formatting for a large multi module project. The plugin is configured to validate the formatting in phase `validate`. When the formatting rules are violated I want to trigger the format goal on the parent module and I would expect the child modules to be formatted, but an `mvn formatter:format` only triggers the format

[2018-04-10 13:31] schuettec commented on #261
Have you tried the example project? It works. My last checks also made me believe that it picks the correct formatter. I don't want those `build-tools` artifacts in my build because that is completely unnecessary overhead in my opinion. The only thing that does not work is calling `formatter:format` from the parent module.

[2018-04-10 19:32] ctubbsii commented on #261
@schuettec `mvn formatter:format` will not process submodules, because, as mentioned earlier, this does not build within a project lifecycle which is aware of submodules. Use `mvn compile formatter:format` instead, or put the format goal in a profile which will execute at a certain point in the build lifecycle while executing a standard build goal (like `compile`, `package`, or `verify`). If you r

[2018-04-10 22:01] ctubbsii commented on #272
Closing this, since it is being worked on in a pull request to revelc/impsort-maven-plugin#6

[2018-04-10 22:01] #272 closed

[2018-04-11 06:48] schuettec commented on #261
I understand this as the an explanation of why the plugin is not executed within a lifecycle.

What's the reason for not applying this mentioned fix here?

The command `mvn compile formatter:format` does not work and this is no workaround for me. What happens is, that the phase `validate` detects formatting violations, so compile will never be executed. I explicitly want the formatting to be valid

[2018-04-11 06:52] schuettec commented on #261
I understand this as the an explanation of why the plugin is not executed within a lifecycle.

What's the reason for not applying this mentioned fix here?

The command `mvn compile formatter:format` does not work and this is no workaround for me. What happens is, that the phase `validate` detects formatting violations, so compile will never be executed. I explicitly want the formatting to be valid

[2018-04-11 15:06] ctubbsii commented on #261
Doing this will prevent other valid use cases, so it's not been my highest priority, personally, especially since it's not that hard to force it into a build lifecycle with a profile if the command line workaround doesn't work for whatever reason.

If I were you, I would bind `validate` to `process-resources` and `format` to `process-sources` or similar, and put the latter in a profile. Or put the

[2018-05-09 12:17] timhoh opened #274 "Formatting of java enum source file is not working properly"
When executing

`mvn clean package`

the well formatted file [Page.java](https://github.com/revelc/formatter-maven-plugin/files/1987696/Page.java.txt) results in [Page.java](https://github.com/revelc/formatter-maven-plugin/files/1987703/Page.java.result.txt).

Trying to format the second file from within Eclipse (Oxygen) will result in the well formatted first one.

This [codestyle.xml](https://gi

[2018-05-09 20:54] #274 closed

[2018-05-09 21:00] #261 closed

[2018-05-10 07:52] timhoh commented on #274
@ctubbsii You are absolutely right, i'll keep that in mind! Thanks for fixing it that fast!

[2018-05-23 13:58] leblonk commented on #269
I ran into this same problem on a multimodule project (where I was erroneously trying to refer to the parent directory). Underlying issue seems to be that the plugin doesn't fail if it can't find the formatter file from the config, but instead silently reverts to the default setup. In debug mode, there's a stacktrace showing the file wasn't found.

[2018-05-23 15:32] leblonk opened #275 "No error message if configured formatter config file is not found"
When the configured formatting file cannot be found, the plugin silently reverts to using the default config. To reproduce, add config:

Result: formatting happens anyway, but with incorrect (default) formatting rules

Desired result: plugin throws an error and the build fails

Other data, running maven --debug will show a file not found stacktrace for the missing file

[2018-05-23 15:33] leblonk commented on #269
So done: [#275](https://github.com/revelc/formatter-maven-plugin/issues/275)

[2018-05-24 20:28] santiagozky opened #276 "Add support for @formatter:on and @formatter:off"
The plugin doesnt seem to support the @formatter:on/off comments, which allow you to preserve the format of certain sections of code.

in the eclipse xml config they look like
<setting id="org.eclipse.jdt.core.formatter.enabling_tag" value="@formatter:on"/>
and
<setting id="org.eclipse.jdt.core.formatter.disabling_tag" value="@formatter:off"/>

They are particularly (for me )useful when dealing wi

[2018-05-24 22:08] ctubbsii commented on #276
It does support them. You just need to make sure whatever formatter configuration you are using has them enabled.
[code]

[2018-05-24 22:08] #276 closed

[2018-05-25 07:44] santiagozky commented on #276
hi. you are absolutely right! mi config file is wrong.
Thank you very much and sorry for the noise.

[2018-05-26 17:37] ctubbsii commented on #276
@santiagozky Not a problem at all. Glad you got it working. Feel free to file issues (or pull request) to identify bugs and suggest changes whenever you encounter a problem.

[2018-05-26 18:32] divyakumarjain opened #278 "Support code formatter as Ant Task"

[2018-05-30 02:21] EtonDoze opened #279 "Allow JSON formatter to omit space before separator"
JSON by default puts a space before and after separator `:` e.g.
[code]
Instead, we would like to skip that space before `:` and have the final JSON look like
[code]
This style is in sync with most popular JSON formatters on web and within IDEs.

[2018-05-30 02:51] ctubbsii commented on #279
You don't need to create an issue *AND* a pull request. On GitHub, pull requests *ARE* issues, so creating an extra issue is redundant.

[2018-05-30 03:01] EtonDoze commented on #279
Got it. Closing this issue. Lets resume on PR https://github.com/revelc/formatter-maven-plugin/pull/280

[2018-05-30 03:01] #279 closed

[2018-06-02 02:33] Zacorich opened #281 "lineEnding configuration doesn't change any line-endings"
Plugin version: 2.7.3
Effect: Tried to change from CRLF to LF, but only some files gets changed or none. Very unpredictable.
Expected Behaviour: When I change lineEnding configuration to LF and run formatter all files included
must change to LF line-Endings.

[2018-06-02 03:14] Zacorich commented on #281
net.revelc.code.formatter.FormatterMojo : 499 ; compares cachedHash with originalHash and if no changes in actual file is made no lineEnding will be changed. But would be great for lineEnding to change when we change it in configuration meaning forcing lineEnding change by some configuration switch. This feature will be useful for whole project files lineEndings correction.

[2018-06-28 20:53] ctubbsii commented on #133
Original reporter never responded to my question about the specific formatters being requested, and I think this issue is too broad to be of much value. Other formatters have been added, and I'm sure we could support additional formatters as separate mojos/tasks to execute from this plugin, but each would have to be considered on a case-by-case basis. So, I'm closing this issue.

[2018-06-28 20:53] #133 closed

[2018-06-29 09:51] rbaeta commented on #133
@ctubbsii sorry for being so lazy...
The idea was just that maven would not depend on a specific IDE formatters (like the Eclipse one, IDEA or any other - but the Eclipse one is a bit clumsy though); instead, this maven plugin may use the facade/adapter pattern, defining a common set of rules, with a common syntax, and then have each formatter as a plugable component that would act as an adapter,

[2018-06-30 02:34] ctubbsii commented on #133
@rbaeta Your wish reminds me a bit of https://xkcd.com/927/ ; I think it's probably best if this plugin focuses on the Eclipse engine, as it was designed to do, and let other plugins focus on other formatting engines. Perhaps additional formatting engines could be supported, to enable consistent formatting using the user's preferred engine... but the point of this plugin is that it shouldn't matte

[2018-07-11 13:42] ambition-consulting commented on #32
Clean Ups have not been externalised like the formatter. Best you could do, is execute Eclipse in Headless mode, e.g. using TEA.

[2018-07-17 15:51] dmasyukov commented on #275
Hopefully my pull request will be merged to fix this issue

[2018-07-17 22:07] ctubbsii commented on #275
Fixed by #284

[2018-07-17 22:07] #275 closed

[2018-08-09 08:07] therealryan opened #285 "Enhancement: Eclipse plugin to import formatter settings from maven configuration"
Currently when you import a project into eclipse, and you want the IDE to follow the project's format, you have to manually hunt down the format file and import it manually. The file might be sitting right there in the project itself, or you might have to hunt through parent poms and plugin dependencies.

It'd be lovely if Eclipse was able to automate this process:
 1. Notice that a project has a

[2018-08-09 16:49] ctubbsii commented on #285
Hi @therealryan . Two points:

1. The advantage of this plugin is that it doesn't matter what settings your IDE is using... you can format consistently regardless of what your IDE is configured to use.
2. The feature you're describing is a separate project: https://github.com/revelc/formatter-m2e-configurator

The m2e configurator project is currently suffering from lack of attention: installation

[2018-08-09 16:49] #285 closed

[2018-08-27 20:08] ctubbsii commented on #281
I've been looking at this, trying to figure out why line endings aren't being changed. It seems like they are already supposed to change if you change the config. Do you have an example project (a simple mock project) to replicate the issue?

The only thing I can think of is that there might be an issue with our automatic line ending detection code, if there is a mixture of line endings in a singl

[2018-10-17 08:20] tominf opened #288 "plugin doesn't honor "never indent comments" options"
The plugin seems to suffer from the following bug:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=415630

Please, check the link for a more detailed discussion and a proposed solution.

-----

The following description is partially taken from there:

The "Never indent line comments on first column" and "Never indent block comments on first column" work great when used interactively from the Eclips

[2018-10-25 06:16] maxwo opened #289 "Handle join_wrapped_lines option"
Hey,

When configuring `join_wrapped_lines` to `false`, the formatter still joins wrapped lines, making it more difficult to read Java builder, stream and reactive structures.
When running the built-in Eclipse formatter, everything goes fine: each new line is kept as expected, but once in our CI, using your maven plugin, we are facing some formatting check issues because of this.

The following co

[2018-10-25 07:08] ctubbsii commented on #289
Interesting. The formatter-maven-plugin is a thin wrapper around the same formatting code that formats code in Eclipse, so it's unusual to have formatting differences between the two that don't involve user configuration error, but it can happen.

To assist in debugging, can you provide a minimal maven project which includes the code that should not be joined, along with the pom with the plugin co

[2018-10-27 04:07] ctubbsii commented on #288
Hi @tominf ! Thank you so much for the bug report. Do you have a small maven project on GitHub (or can you create one) that demonstrates the problem, that uses the current formatter that I can clone in order to verify the bug and the proposed fix? It would be greatly appreciated.

[2018-10-27 05:04] ctubbsii commented on #288
@tominf If you can provide a sample maven project, I can test PR#290 using that project. Otherwise, I'll have to create my own project to test it with, and I might not have time for a few days.

[2018-10-29 11:20] tominf commented on #288
@ctubbsii Thanks for your reply! I've created the small GitHub project:

https://github.com/tominf/test_format

If you "mvn formatter:format", the first two comments in BadStyle.java should stay where they are (in 2.8.0 they get indented). The other two should get indented, which is ok.

[2018-11-01 09:46] tomasbjerre opened #291 "GC overhead limit exceeded"
I'm getting `GC overhead limit` when formatting a large module. Same config works fine for smaller modules with `312` files.

[code]

[code]

[code]

[2018-11-01 10:20] tomasbjerre commented on #291
I was abel to narrow it down to one specific file in this module. Using `exclude`...

Sadly I cannot share the code. The file has 222 lines so not very big.

[2018-11-01 11:40] tomasbjerre commented on #291
Would be great if it was possible to add logging so that these files could easily be found. Just knowing what file was being formatted just before GC overhead limit exceeded would help a lot.

[2018-11-01 17:37] ctubbsii commented on #291
@tomasbjerre Have you tried running `mvn` with the `-X / --debug` flag? I haven't checked, but it may be possible that the plugin emits a debugging log message before each file. If not, it would be something good to add.

[2018-11-01 17:51] ctubbsii commented on #97
I think it might be better to pursue Eclipse upstream adding configuration options to the formatting code which support the missing "save action" features that aren't already in the formatting code. The weirdest part of this for me is that they have two separate, overlapping, formatting features.

[2018-11-01 20:13] ctubbsii commented on #291
Without more information... a stack trace, or some indication of what was different about the file that broke, I'm not sure anything can be done, other than to ensure that we log debug messages for each file encountered.

[2018-11-01 21:51] ctubbsii commented on #288
@tominf Thanks! I tested against that project, and was able to verify the problem, and that the proposed fix does indeed solve the problem. Expect this to be fixed in 2.8.1.

[2018-11-01 21:55] #288 closed

[2018-11-02 10:33] tominf commented on #288
Great! Thanks a lot!

[2019-01-08 17:19] mauricio29 opened #293 "Support for clean up profile?"
I would like to correct fewer things, like indentation and remotion of unused imports only.
But formatter does more modifications that can't be disabled.

The cleanup option is perfect for minor corrections. Would you add this goal?
It could be executed with **> mvn formatter:cleanup** .

In Eclipse cleanup runs with both selected formatter profile and cleanup options which can be customized too.

[2019-01-09 03:10] ctubbsii commented on #293
I think my comment at https://github.com/revelc/formatter-maven-plugin/issues/97#issuecomment-435126457 applies here as well. It'd be better if the additional options available in this Eclipse feature were added to their formatter... where a user can make use of it.

I don't know if the clean up tasks have an easily accessible API in the JDT code like the formatter does, for us to use it. If you w

[2019-01-09 03:12] ctubbsii commented on #293
Closing issue as a duplicate of #32

[2019-01-09 03:12] #293 closed

[2019-01-20 12:56] WalterMourao commented on #254
+1

[2019-02-12 14:52] vbence commented on #289
Searching for `join_wrapped_lines`  in this repo, only test files and a sample config is found - no code references it.
https://github.com/revelc/formatter-maven-plugin/search?q=join_wrapped_lines&unscoped_q=join_wrapped_lines

My guess, it was removed somewhere along the line.

[2019-03-20 01:50] yukihane commented on #289
https://github.com/yukihane/sample-formatting

configFile: https://github.com/yukihane/sample-formatting/blob/master/java-code-format.xml
joined Java source: https://github.com/yukihane/sample-formatting/blob/master/src/main/java/com/github/yukihane/Number.java

[2019-03-20 20:52] ctubbsii commented on #289
Thanks for the sample project! It was very helpful in finding the problem. I filed an upstream bug at https://bugs.eclipse.org/bugs/show_bug.cgi?id=545603

It appears that `org.eclipse.jdt.core.formatter.join_wrapped_lines` being set to `false` is ignored when `org.eclipse.jdt.core.formatter.alignment_for_enum_constants` is set to `0` (and several other values tested). When you import the sample c

[2019-03-20 20:55] ctubbsii commented on #289
It may be possible for the formatter-maven-plugin to work around this bug by auto-merging a partial config with the default settings applied when you manually import a configuration into the Eclipse platform GUI... but I don't know if that's possible, because I'm not sure where those default settings are saved.

[2019-03-21 03:31] hazendaz opened #297 "Eclipse IDE 2019-03+ Changes to Formatting (for reference / review)"
In case we should update our settings files or look at any related changes needed.

https://www.eclipse.org/eclipse/news/4.11/jdt.php

[2019-03-21 03:59] ctubbsii commented on #297
Good reference, but does this require an open issue?

[2019-03-21 12:02] hazendaz commented on #297
Only so we review all the formatter changes to see our impact if any.  There looks to be quite a few new parameters.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christopher Tubbs <notifications@github.com>
Sent: Wednesday, March 20, 2019 11:59:54 PM
To: revelc/formatter-maven-plugin
Cc: Jeremy Landis; Author
Subject: Re: [revelc/formatter-maven-plugin] E

[2019-04-06 18:02] jam01 commented on #263
@hinchliff  I quickly ran a test with a doctype xml using the new formatter and things look good, maybe you can give it a shot and confirm. @hazendaz since the ticket is pretty old perhaps we can close it and let XML specific issues be open on the xml-formatter repo?

[2019-04-06 18:03] jam01 commented on #212
Maybe this works now?

[2019-04-06 18:05] jam01 commented on #212
Ran a WSDL through the xml formatter, everything looks good. Was there any specific handling you were looking for?

[2019-04-06 21:23] hazendaz commented on #212
This didn't work with jsoup very well.  I suspect now it will work well but have not tested it.  XML is XML so I suspect all edge cases should be good at this point :)

[2019-04-06 21:23] #212 closed

[2019-04-07 20:59] ndaussy opened #299 "Gitlab Ci - Runner under UNIX"
Hello,

I try to integrate this plugin into my CI. When i run validate phase on my local (Windows) all is ok, validate pass.
Under Gitlab Ci running with UNIX, validate failed.

Have you ever have this kind of issue ?

[2019-04-07 22:05] hazendaz commented on #299
@ndaussy Sounds like a line ending issue which will just require insurance git is configured correctly. What all files are you validating as we now have numerous pieces?  General git setup would be check in *nix style and checkout as whatever the specific system is set to.  You can additionally control that.

[2019-04-07 22:37] ndaussy commented on #299
hi,

Thanks for you quick feedback, I try to format java file.
I check git to do no change my EOF & set up one file with LF. I continue to have an issue.
btw when i run mvn process-sources in my gitlab runner, change are apply on majority of file

I try with Option <lineEnding>KEEP</lineEnding> but i got same result.

I set up plugin as following :
![SetUpPlugin](https://user-images.githubusercont

[2019-04-07 22:52] ndaussy commented on #299
One other small question, when i put lineEnding = KEEP, it must not validate under Unix or Windows ? or he will try to validate under system EOF ?

[2019-04-07 23:10] ndaussy commented on #299
finally fix issue :
- Change all file with LF
- Apply change in all my file to force plugin to run on each of them ( i don't known why sometimes he do not apply change in some file )

Validation pass. Thanks.

[2019-04-07 23:10] #299 closed

[2019-04-16 06:42] Wens-Dany opened #300 "java files in package named "rcs" will be formatted"
When i format my java files, it doesn't work for these files in "rcs" package. Like this,
package com.mytest.rcs;
Number of files to be formatted not contain java files in rcs package. Is it a bug?

[2019-04-16 16:05] ctubbsii commented on #300
Can you create an example project on GitHub which demonstrates the problem that I can clone and inspect to investigate this? Thanks.

[2019-04-22 08:40] sunwen900815 commented on #300
It adds default excludes file path by this code "ds.addDefaultExcludes();" in "addCollectionFiles" method of "FormatterMojo.java". In method named "addDefaultExcludes" of "AbstractScanner.java", "DEFAULTEXCLUDES" constant contains "**/RCS" and "**/RCS/**". So the package named "rcs" will be excluded by default. Is it the reason of my problem?

[2019-04-22 13:31] ctubbsii commented on #300
Possibly. If you create an example project that demonstrates the problem, I can use your example project to try to verify, and identify a solution.

[2019-04-26 12:59] kwin opened #301 "Get rid of org.eclipse.jdt.core dependency"
The dependency to `org.eclipse.jdt:org.eclipse.jdt.core` drags a lot of transitive dependencies (compare with https://bugs.eclipse.org/bugs/show_bug.cgi?id=536040) and also uses dependency ranges (https://search.maven.org/artifact/org.eclipse.jdt/org.eclipse.jdt.core/3.17.0/jar).

The latter leads to the fact, that Maven looks daily for newer artifacts of those transitive dependency ranges from th

[2019-04-26 13:14] hazendaz commented on #301
I can confirm that it is doing that which is bothersome.  So expectation here is that we then exclude the items and confirm that this still works as needed, correct?  The main dependency we are not actually going to get rid of as it is hard requirement for this to work.

[2019-04-26 13:51] kwin commented on #301
Maybe there is another dependency one can leverage instead (which has less transitive dependencies). Another alternative is to use  Maven's `dependencyManagement` to overwrite the version ranges of the transitive dependencies to one fix version.

[2019-04-28 02:42] ctubbsii commented on #301
I'm interested in seeing if the upstream bug tracker makes any progress on the issue. If not, I think going the `dependencyManagement` route would be reasonable... albeit burdensome. I would have reservations switching to a different packaging... because we've done that in the past, and have had mixed results in terms of consistent quality. I'd rather stick with the ones that the Eclipse JDT proje

[2019-05-15 18:55] heathjmorgange opened #302 "Always downloads eclipse maven-metadata.xml files during build"
My project is using the formatter plugin to format our source (thanks!) but every single maven build it tries to dowload some eclipse maven metadata files... which for our developers in India turns out to be VERY slow, and is slow enough to be annoying for me.

Here's what it looks like for me... as it tries to check some of our remote repositories for these files ... (which it isn't there), and w

[2019-05-15 19:02] hazendaz commented on #302
The eclipse jar does that.  My guess is they have a time stamp set that causes it.  It usually should only occur once a week from what I've seen.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Heath Morgan <notifications@github.com>
Sent: Wednesday, May 15, 2019 2:55:20 PM
To: revelc/formatter-maven-plugin
Cc: Subscribed
Subject: [revelc/formatter-maven-plu

[2019-05-16 14:47] heathjmorgange commented on #302
We see it every single build, though sometimes with different numbers of artifacts.  Thx for the input.

[2019-05-16 14:47] #302 closed

[2019-06-19 19:45] agentgt commented on #301
Yeah this is annoying as heck. My CI machine always does "-U" and albeit it is a minor slow down it is now one that will be across all are projects and even with a Nexus proxy still adds a noticeable delay.

Speaking of which in theory one could use Nexus (or jfrog) to pin it down but my Nexus knowledge is limited to just basic proxying.

For the dependencyManagement section idea one could make a

[2019-06-19 21:06] ctubbsii commented on #301
I looked into this a bit, and *almost* wrote my own maven plugin to resolve the dependency hierarchy and flatten it, before realizing, I can just use `mvn dependency: tree` to resolve the fixed, resolved versions to put directly in the POM. I'll do a pull request shortly to update this, and then we can do a release, to support Eclipse 4.12, which was just released itself this week.

[2019-06-19 21:25] agentgt commented on #301
I just tried it and I can't figure out how to get maven to respect the dependencyManagement for plugins.

I tried `<dependencyManagement>` and I tried `<dependencies>` directly on the plugin in `<pluginManagement>`.

I made a pom file with the JDT as a dependency and then did:

[code]

Then I ran it through a groovy script:

[code]

I then get the following:

[code]

run

[code]

And still get:

[

[2019-06-19 21:29] agentgt commented on #301
@ctubbsii  TLDR from previous is I think you that it will only work if the plugin itself defines the dependencies in its `dependencyManagement`.

[2019-06-19 21:33] ctubbsii commented on #301
@agentgt That's the best way to do it. The alternate way to do it is to add exclusions in the jdt-core artifact, and explicitly declare them as dependencies in the main dependencies section (possibly as runtime scope).

I've gone with the dependencyManagement option, because it's cleaner.

[2019-06-19 21:37] agentgt commented on #301
@ctubbsii Yes but I think only you can do it (in the plugin itself). There is an ongoing maven bug (lost the browser tab) where down stream projects that use the plugin have very little control over the initial lookup. I can force the versions eventually but I can't stop the maven from doing the maven-metadata lookup.

This is probably because plugin discovery happens before the dependencyManageme

[2019-06-19 21:39] ctubbsii commented on #301
Please test #303 ; I can do a release if all works well for you.

[2019-06-19 21:48] ctubbsii commented on #301
That's my intention. To fix it here, in the plugin, so you can just use the newer plugin, and you never have to worry about this again.

If you were to do it in a project pom, rather than in a plugin, you could do something like the following as a workaround:

[code]

[2019-06-19 22:30] agentgt commented on #301
As I [mentioned I tried that earlier](https://github.com/revelc/formatter-maven-plugin/issues/301#issuecomment-503752587) but it still would go do the metadata lookup on `-U`.

Like it will eventually get the pinned version and override whatever eclipse current version is but it does an initially lookup first.

[2019-06-20 00:22] ctubbsii commented on #301
Sorry, I missed that the first time around. That's very weird that it does the initial lookup before it settles on the override version. Hopefully, the change in #303 will fix it for you. If you can build that PR with `mvn install`, you can test `2.10.0-SNAPSHOT` version of the formatter in your `pom.xml` with `-U`.

If #303 still doesn't work, I'll have to add an exclusion to the jdt artifact's t

[2019-06-20 00:45] agentgt commented on #301
Yes its very weird indeed. I spent a considerable time trying to figure out and I still don't know why it tries to refresh the metadata.xml. I tried looking around it appears other maven plugins that have metadata.xml deps appear to lock down the dependencies anyways with dependencyManagement. So maybe this is just a tribal knowledge known issue. Still it doesn't make since from a users perspectiv

[2019-06-20 03:40] ctubbsii commented on #301
I just tested it on a large project, and was able to confirm your previous result. I was also able to confirm for myself that 2.10.0-SNAPSHOT fixes the issue. I'll still wait for you to test before I initiate a release, though... just to get a second opinion.

What I saw with `-U`:
* version ranges in plugin deps caused `maven-metadata.xml` to *always* be downloaded (reproducing your result); I al

[2019-06-20 04:01] hazendaz commented on #301
@ctubbsii Did you also try adding the dependencies directly so it's both in dependency management and as regular dependencies?  That might affect the behaviour of the -U option as you are expecting.

[2019-06-20 04:18] ctubbsii commented on #301
@hazendaz the `<plugin>` element doesn't have a `<dependencyManagement>` element. I added them to `<dependencies>` of the plugin in both the `<plugins>` section and the `<pluginManagement><plugins>` section, and observed no difference between those two, if that's what you meant.

[2019-06-20 12:49] agentgt commented on #301
I pulled your branch (at first I didn't and used master because I'm dumb) and it works!

Thank you so much for this and releasing soon will be very helpful to us!

[2019-06-20 13:00] hazendaz commented on #301
I was referring to both sections in formatter plugin.  Some old jira tickets in maven suggested doing the same from core members of maven.  It's a work around to enforce transient usage of version ranges that was suggested to stop the additional meta data downloads.  If both are configured together it's supposed to stop that behaviour.

Get Outlook for Android<https://aka.ms/ghei36>

_____________

[2019-06-20 13:02] hazendaz commented on #301
I should note maven teams suggestion there was on normal usage.  The -U likely works differently but I suspect having the tighter control might help.

Glad in general it's working though.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jeremy Landis
Sent: Thursday, June 20, 2019 9:00:26 AM
To: revelc/formatter-maven-plugin; revelc/formatter-maven-plugin
Cc:

[2019-06-20 13:08] agentgt commented on #301
Here is the somewhat relevant issue: https://issues.apache.org/jira/browse/MNG-2496

However the godfather of maven (@jvanzyl) has a valid point as to why plugin consumers can't control it.

[2019-06-20 15:58] agentgt commented on #301
Sort of a post mortem so I can mentally put this to bed.

The more I think about it I think what Maven is doing is sort of correct with the onus being on the plugin developer.

Jason Van Zyl (@jvanzyl) is right.

The plugin is essentially a mini executable that should be pseudo statically linked (borrowing native compiled semantics) and should be isolated and thus other plugins and projects should

[2019-06-20 17:55] ctubbsii commented on #301
As far as I can tell, both solutions work equivalently within the formatter plugin, but the use of `<dependencyManagement>` is cleaner, in my opinion.

[2019-06-20 18:07] #301 closed

[2019-06-20 18:07] agentgt commented on #301
In this situation it probably does and/or perhaps Maven does actually treat the dependency section for the pom plugins differently. This is I believe is because this particularly pom/plugin doesn't have any overlapping dependencies.

For example if you depended on two JDT like artifacts say JDT-x and JDT-y that both have overlapping dependencies and you declared all of JDT-x deps in the dependency

[2019-06-20 19:08] ctubbsii commented on #301
2.10.0 has been released, with this fix. It could take a few hours to sync to Maven Central.

[2019-06-29 14:43] agentgt commented on #302
This was most likely actually caused by #301 which is now fixed.

[2019-08-12 19:36] goblinbr opened #304 "Allow to include a list of files to format as parameter"
I am trying to run this plugin with a git pre-commit hook, to format only stagged files. For now I am calling mvn formatter:format for each file with this config:

[code]
and
`mvn formatter:format -Dformat.file=FILE`

But it takes almost 2 seconds for each file.

Is there a way to format a list of files?

Already tried -Dformat.file=FILE1,FILE2 and -Dformat.file=FILE1;FILE2 but didn't work

[2019-08-12 21:03] goblinbr commented on #304
Just found -Dformatter.includes=FILE1,FILE2,FILE3

[2019-08-12 21:03] #304 closed

[2019-08-16 12:27] heathjmorgange commented on #302
Thanks, the newest version does not appear to have that problem any more :+1:

[2019-08-22 14:34] WalterMourao commented on #211
Hi. When I format xhtml in eclipse, I suppose it is formatted using xml rules. How about a property to assign file extension with the desired rules ?

[2019-08-22 20:44] ctubbsii commented on #211
Normally, the files you format are specified using the [`<includes/>`][1] and [`<excludes/>`][2].

However, the `html`, `xml`, `js`, `json`, and `css` formatting rules are bolted on to the `java` formatter in somewhat of a weird way. I don't know if there's currently a way to specify the files to be formatted by those "bolted on" formatters. Ideally, this would be solved by shipping those formatte

[2019-09-18 13:01] blacelle opened #306 "StringIndexOutOfBoundsException when targetting a parent sourceDirectory"
When using a parent as sourceDirectory:
` <sourceDirectory>${project.basedir}/..</sourceDirectory>`

[code]

This seems an edge case. Still, we may want to reject this case explicitly.

[2019-09-23 22:25] ctubbsii commented on #306
That's not the right way to specify a parent directory. It should be something like https://stackoverflow.com/a/1019431/196405

[2019-09-24 09:38] blacelle commented on #306
Thanks a lot

[2019-09-24 11:51] ctubbsii commented on #306
Did that work?

[2019-09-24 12:37] blacelle commented on #306
I did not check yet, this was happening in a customer project I'm not working full-time.

[2019-09-25 05:10] blacelle commented on #306
I did not yet had the opportunity toc heck it yet, but the comment of the referred StackOverFlow suggests strongly `${project.parent.basedir}` would not work with recent mvn versions

[2019-09-26 20:19] ctubbsii commented on #306
The comment about it not working was for version 3.0.4, which is not recent at all. The upstream issue was https://issues.apache.org/jira/browse/MNG-5522 and I don't think anybody reproduced it. It appears fixed in newer versions. If not, it's a maven bug. On the StackOverflow link, there's other solutions mentioned as well to refer to the root of a multi-module project (which, I assume is your us

[2019-10-22 23:47] Cybermite opened #307 "Line endings are changing even when configured as KEEP"
We're noticing build failures due to line ending differences even after configuring the plugin to KEEP existing line endings.

Sample Project: https://github.com/Cybermite/formatter-sample

Note: Only tested on Java files. This configuration might affect other types of files as well.

**Investigation:**

[LineEnding#KEEP](https://github.com/revelc/formatter-maven-plugin/blob/formatter-maven-plugin

[2019-10-23 00:08] hazendaz commented on #307
@Cybermite Silly question but have you checked your '.gitconfig' to confirm how git is setting line endings and well as possible permissions that might occur on OS such as windows?

[2019-10-23 03:11] Cybermite commented on #307
For the first question, our git is configured to commit and checkout as-is (i.e. core.autocrlf=false). It won't mess with the line endings.

For the second, can you elaborate on what you're looking for in regards to permissions? Not entirely sure how it relates to this issue.

[2019-10-23 03:13] hazendaz commented on #307
On the second part, lets say files were incorrectly permissioned as executable *nix side of the house.  Then checked out in windows.  Depending on other tools used in the process such as jgit, the improper execution gets removed.  That has a tendency to appear as line endings but checking in notepad++ would not indicate as such.  However, checking permissions would.  I only bring it up as a possib

[2019-10-23 15:25] Cybermite commented on #307
Okay, yeah, no file permissions are being changed.

[2019-10-27 23:36] maxandersen opened #308 "Question: where are the various properties formats/values documented ?"
i.e. configXmlFile says it points to a properties file to control the format.

Where are the documentation for what you can put in that properties file ?

[2019-10-28 16:21] jam01 commented on #308
They are not formally documented but you can find the default values here...

https://github.com/revelc/xml-formatter/blob/xml-formatter-0.1.1/src/main/java/net/revelc/code/formatter/xml/lib/FormattingPreferences.java
https://github.com/revelc/formatter-maven-plugin/blob/formatter-maven-plugin-2.10.0/src/main/resources/formatter-maven-plugin/eclipse/xml.properties

The next release of the plugin w

[2019-11-05 13:41] ctubbsii commented on #307
@Cybermite If you run `mvn clean compile net.revelc.code.formatter:formatter-maven-plugin:2.10.0:format` instead of `mvn formatter:format` (or whatever command you were using to format), do you get the same results?

[2019-11-05 14:00] #308 closed

[2019-11-05 14:01] ctubbsii commented on #308
Closed as answered, but feel free to reply here, or reopen if you have more to ask about this.

[2019-11-07 06:18] ctubbsii commented on #300
Closing this as there is no response in 6 months.

[2019-11-07 06:18] #300 closed

[2019-11-07 06:20] ctubbsii commented on #306
I believe this isn't a problem in newer versions of Maven, so I'll close this again. Please reopen if the provided solution has been verified not to work.

[2019-11-07 06:20] #306 closed

[2019-11-07 06:23] ctubbsii commented on #289
The upstream bug comments indicate this is expected behavior from the Eclipse formatter code, when faced with incomplete configuration. The workaround is to provide a complete export of the current configuration (or at least enough to get the desired behavior, as suggested in my earlier comment in this thread). I recommend following the upstream bug, if this is still an interest to you, but I'm cl

[2019-11-07 06:23] #289 closed

[2019-11-11 23:11] Cybermite commented on #307
@ctubbsii yep

[2019-11-13 21:28] ctubbsii commented on #307
Okay, just checking. Sometimes executing within the build lifecycle, rather than executing the plugin directly, can have different behavior. I only use LF line endings and don't have time to work on this myself. But, I'd be willing to help run test cases if somebody puts together a pull request to implement a fix.

[2019-11-26 14:51] mtinel opened #310 "Add parameter to analyse and format ONLY a (list of) file(s)"
In order to automatize the format before each commit, it will be convenient to format only the files to be committed. It will be appreciate to allow analyse and format only a list of files, instead of analys the whole project.
example usage:
`mvn formatter:format -Dformatter.format.files="file1,file2"`

This will improve the process time by skipping the project analyses.
The plugin do not have thi

[2019-11-26 22:16] ctubbsii commented on #310
I'm pretty sure this is already satisfied with the documented "[includes](https://code.revelc.net/formatter-maven-plugin/format-mojo.html#includes)" option. Please reopen if it doesn't work for you.

[2019-11-26 22:16] #310 closed

[2019-11-28 10:34] mtinel opened #311 "Analyse and format ONLY files provided by `formatter.includes` parameter (issue #310 )"
When i used like this :
mvn formatter:format -Dformatter.includes="module1/src/main/java/package/file.java"
or like this
mvn formatter:format -Dformatter.includes="module1/src/main/java/package/file.java,module1/src/main/java/package/file2.java"
each attempt will format file2.java

tested with versions 2.8.1 and 2.11.0

[2019-11-28 10:45] mtinel commented on #311
I have a `<includes>**/src/main/java/**/*.java</includes>` configuration section in my pom.
this should be overrided by the command line parameter `formatter.includes`

[2019-11-28 11:05] mtinel commented on #311
Ok, find the (simple) solution:
I set a property
 `<formatter.includes>**/src/main/java/**/*.java</formatter.includes>`
 and set
`<includes>${formatter.includes}</includes>`

[2019-11-28 11:05] #311 closed

[2019-11-28 19:33] ctubbsii commented on #311
This has bitten me before, too. This isn't how Maven works. The explicit configuration in the pom takes precedence. I know... it's unintuitive, but your workaround is the general solution to this problem.

[2019-12-05 20:59] fralalonde opened #312 "Formatter cache is not updated for files that were already formatted"
Hash of formatted files is not saved when files were already formatted, which results in the files being  unnecessarily re-formatted on every subsequent pass. For modules with many files, this can become a major performance impediment.

For example, one of the modules of our legacy project holds nearly 3000 files:
[code]

[2019-12-06 00:13] ctubbsii commented on #312
You get this same output every time it runs? That seems strange. I don't see that. For already-formatted files, I see something like:

[code]

Can you provide an example project to reproduce the problem, so I can verify that the formatting re-occurs on every run, to test your PR in #313? Thanks.

[2019-12-14 04:10] fralalonde commented on #312
My description of the issue using a large number of files is probably not the best. The problem occurs no matter how many files are formatted but generally goes unnoticed since a few files will be formatted quickly. The cache, when effective, only makes a difference when a large number of source files need to be processed.

I've created new unit tests in #314 to demonstrate the situation: A a cach

[2019-12-18 05:49] ctubbsii commented on #312
@fralalonde  Internal details about caching aside, it sounds like you're saying that bug causes the user to observe already-formatted files to be "Successfully formatted" on subsequent runs. However, I observe my already-formatted files to be counted as "Skipped", instead, as they should be.

Please help me understand what I'm missing. (I'll try to take a look at your PR #314 soon, but I don't hav

[2019-12-31 08:32] hazendaz commented on #297
Note: Formatting in Eclipse has changed continually with each new version.  We have not done anything to keep pace with any of the updates other than bump the version.  We need to review thoroughly before next release to make sure we are covering everything properly.

[2020-01-06 19:33] fralalonde commented on #312
Plainly put: When formatting or validating a clean project, source files that were already formatted are not added to the `formatter-maven-cache.properties` file. Which results in those files being needlessly evaluated again in all further formatting passes even if they did not actually change.

The problem will manifest on any project with formatted source after a `mvn clean`.

For example, start